:root {
    --top: #467CCA;
    --bg: #3160d2;
    --bg-rgb: 49, 96, 210;
    --bg-darker: #0c338f;
    --bg-darker-rgb: 12, 51, 143;
    --font: #0c338f;
    --font-2: #FF692A;
    --font-2-rgb: 255, 105, 42;
    --button: #f43f37;
    --button-rgb: 244, 63, 55;
    --button-hover: #f65d55;
    --button-active: #f2180d;
    --old-price: #ccc;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

header {

}

header ul.top-menu li * {
    vertical-align: middle;
}

header ul.top-menu li .btn {
    border-radius: 2rem;
}

header .logo {
    max-width: 150px;
    max-height: 60px;
}

.cover .wrap {
    position: relative;
}

.cover .wrap::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    background-image: url('./images/woman-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 768px) {
    .cover .wrap::before {
        top: 170px;
        left: 40px;
        display: block;
        width: 300px;
        height: 540px;
    }
}

@media (min-width: 992px) {
    .cover .wrap::before {
        top: 170px;
        left: 160px;
        width: 300px;
        height: 540px;
    }
}

@media (min-width: 1200px) {
    .cover .wrap::before {
        top: 50px;
        left: 0;
        width: 373px;
        height: 673px;
    }
}

.cover ul.property-list li {
    position: relative;
}

.cover ul.property-list li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: var(--bg);
    border: 1px solid var(--bg);
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px var(--white);
}

.cover .product {
    position: relative;
}

.cover .product::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 4;
    width: 118px;
    height: 100px;
    display: block;
    background-image: url('./images/fruit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


@media (min-width: 576px) {
    .cover .product::before {
        left: -105px;
        width: 175px;
        height: 148px;
    }
}

@media (min-width: 1200px) {
    .cover .product::before {
        left: -155px;
    }
}

.cover .product::after {
    content: '';
    position: absolute;
    z-index: 4;
    display: none;
    background-image: url('./images/peel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .cover .product::after {
        top: 175px;
        left: -105px;
        display: block;
        width: 736px;
        height: 166px;
    }
}

.cover .product .img-wrap {
    position: relative;
}

.cover .product .img-wrap::after {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    background-image: url('./images/product-leaf.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 768px) {
    .cover .product .img-wrap::after {
        top: 100px;
        right: -30px;
        display: block;
        width: 97px;
        height: 169px;
    }
}

@media (min-width: 992px) {
    .cover .product .img-wrap::after {
        top: 100px;
        right: 80px;
        width: 97px;
        height: 169px;
    }
}

@media (min-width: 1200px) {
    .cover .product .img-wrap::after {
        top: 100px;
        right: -50px;
        width: 97px;
        height: 169px;
    }
}

.cover .product .img-wrap .discount {
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 5;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('./images/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) {
    .cover .product .img-wrap .discount {
        right: -30px;
        bottom: 10px;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .cover .product .img-wrap .discount {
        top: 0;
        right: -220px;
        width: 140px;
        height: 140px;
    }
}

.cover .form {
    z-index: 4;
}

.cover form {
    background: var(--bg);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(var(--bg-rgb), 0.55);

}

.cover form .price {
    background-color: var(--bg-darker);
    background-image: linear-gradient(135deg, var(--bg) 50%, transparent 50%), linear-gradient(225deg, var(--bg) 50%, transparent 50%), linear-gradient(45deg, var(--bg) 50%, transparent 50%), linear-gradient(-45deg, var(--bg) 50%, transparent 50%);
    background-position: top left, top left, bottom left, bottom left;
    background-size: 1rem 1rem;
    background-repeat: repeat-x;
}

.cover form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 4px);
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cover form button {
    width: 100%;
    border-radius: 2rem;
}

.packages {
    position: relative;
    z-index: 3;
    text-align: center;
    padding: 15px 0 25px;
}

.last-pack span {
    display: inline-block;
    vertical-align: middle;
    width: 41px;
    height: 48px;
    line-height: 48px;
    border-radius: 3px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    background-color: #f6f6f6;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 2px 3px rgba(27, 27, 27, 0.55);
    position: relative;
}

.last-pack span:before {
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    background: #fff;
    width: 100%;
    height: 1px;
    box-shadow: 0 0.1px #000;
}

.last-pack .empty {
    opacity: .5;
    background-color: #bb87c9;
    border: 1px solid #c9a2d5;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 2px 3px rgba(27, 27, 27, 0.55);
}

.quant {
    text-align: left;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 95px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.paced {
    font-weight: 700;
}


.effects .wrap {
    background-image: url('./images/bg-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
}

.effects .wrap .container {
    position: relative;
}

.effects .wrap .container::before {
    content: '';
    position: absolute;
    display: none;
    background-image: url('./images/fat-woman.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .effects .wrap .container::before {
        top: 0;
        right: 50px;
        display: block;
        width: 594px;
        height: 766px;
    }
}

.effects .wrap h2 {
    z-index: 4;
}

.effects .wrap .item {
    background-color: #FFF;
    border-radius: 15px;
}

.effects .wrap .item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.how-to-work {
    overflow: hidden;
}

.how-to-work .wrap {
    position: relative;
    background-image: url('./images/bg-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.how-to-work .wrap .container {
    position: relative;
}

.how-to-work .wrap .container::before {
    content: '';
    position: absolute;
    z-index: 1;
    display: none;
    background-image: url('./images/woman-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .how-to-work .wrap .container::before {
        top: 0;
        right: 180px;
        display: block;
        width: 440px;
        height: 869px;
    }
}

.how-to-work .wrap .container::after {
    content: '';
    position: absolute;
    z-index: 2;
    display: none;
    background-image: url('./images/woman-2+new.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .how-to-work .wrap .container::after {
        top: 50%;
        right: 100px;
        display: block;
        width: 322px;
        height: 330px;
        transform: translate(0, -50%);
    }
}

.how-to-work ul li {
    padding: 15px;
    background-color: var(--white);
    border-radius: 35px;
}

@media (min-width: 768px) {
    .how-to-work ul li {
        padding: 5px;
        border-radius: 75px;
    }
}

@media (min-width: 1200px) {
    .how-to-work ul li {
        padding: 5px 33.333333% 5px 5px;
    }
}

.compare {

}

.compare .other-product,
.compare .our-product {
    background-color: var(--white);
    border-radius: 15px;
}

.compare .other-product {
    border: 1px solid #efefef;
}

.compare .other-product > div,
.compare .our-product > div {
    border-radius: 15px 15px 0 0;
}

.compare .other-product > div:last-child,
.compare .our-product > div:last-child {
    border-radius: 0 0 15px 15px;
}

.compare .other-product > div {
    background-color: #d9d9d9;
}

.compare .our-product > div {
    background-color: var(--bg-darker);
}

.compare .other-product > div:last-child {
    background-color: var(--danger);
}

.compare .our-product > div:last-child {
    background-color: var(--bg-darker);
}

.compare .other-product::after {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    background-image: url('./images/other-good.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .compare .other-product::after {
        bottom: 0;
        left: -30%;
        display: block;
        width: 151px;
        height: 335px;
    }
}

.compare .our-product::after {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    background-image: url('./images/product-head1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1200px) {
    .compare .our-product::after {
        right: -40%;
        bottom: 0;
        display: block;
        width: 287px;
        height: 311px;
    }
}

.compare ul {
    
}

.compare ul li {
    background-color: var(--white);
}

.compare ul li:nth-of-type(even) {
    background-color: #d9d9d9;
}

.compare .our-product ul li {
    background-color: var(--bg);
}

.compare .our-product ul li:nth-of-type(even) {
    background-color: var(--bg-darker);
}

.repeat {
    background-color: #f2f2f2;
}

.repeat .product {
    position: relative;
}

.repeat .product .img-wrap {
    position: relative;
}

.repeat .product .img-wrap::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 4;
    width: 118px;
    height: 100px;
    display: block;
    background-image: url('./images/fruit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) {
    .repeat .product .img-wrap::before {
        left: -50px;
        width: 175px;
        height: 148px;
    }
}

.repeat .product .img-wrap .discount {
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 5;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('./images/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) {
    .repeat .product .img-wrap .discount {
        right: -30px;
        bottom: 10px;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .repeat .product .img-wrap .discount {
        right: -60px;
        width: 140px;
        height: 140px;
    }
}

.repeat .price {

}

.repeat .price .old-price {
    background-color: #d9d9d9;
    border-radius: 5px 0 0 5px;
}

.repeat .price .new-price {
    background-color: var(--bg);
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(121, 190, 60, 0.25);
}

.repeat form {
    background: var(--bg);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(var(--bg-rgb), 0.55);

}

.repeat form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 4px);
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.repeat form button {
    width: 100%;
    border-radius: 2rem;
}

.process {
    background-image: url('./images/bg-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
}

.process .wrap .item {
    background-color: #FFF;
    border-radius: 15px;
}

.process .wrap .item img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.bottom,
footer {
    background-color: #f2f2f2;
}

.bottom .our-product {
    background-color: var(--white);
    border: 1px solid #efefef;
    border-radius: 15px;
}

.bottom .our-product > div {
    border-radius: 15px 15px 0 0;
}

.bottom .our-product > div:last-child {
    border-radius: 0 0 15px 15px;
}

.bottom .our-product > div:last-child {
    background-color: var(--bg);
}

.bottom .our-product ul li {
    position: relative;
    background-color: var(--white);
}

.bottom .our-product ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1), transparent);
    border: none;
    transform: translate(-50%, 0);
}

.bottom .product {
    position: relative;
}

.bottom .product::before {
    content: '';
    position: absolute;
    display: none;
    background-image: url('./images/awoman-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 768px) {
    .bottom .product::before {
        bottom: -30px;
        left: -170px;
        display: block;
        width: 290px;
        height: 525px;
    }
}

.bottom .product .img-wrap {
    position: relative; 
}

.bottom .product .img-wrap .discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('./images/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) {
    .bottom .product .img-wrap .discount {
        top: -20px;
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .bottom .product .img-wrap .discount {
        top: -40px;
        width: 140px;
        height: 140px;
    }
}

.bottom form {
    background: var(--bg);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(var(--bg-rgb), 0.55);

}

.bottom form .price {
    background-color: var(--bg-darker);
    background-image: linear-gradient(135deg, var(--bg) 50%, transparent 50%), linear-gradient(225deg, var(--bg) 50%, transparent 50%), linear-gradient(45deg, var(--bg) 50%, transparent 50%), linear-gradient(-45deg, var(--bg) 50%, transparent 50%);
    background-position: top left, top left, bottom left, bottom left;
    background-size: 1rem 1rem;
    background-repeat: repeat-x;
}

.bottom form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 4px);
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bottom form button {
    width: 100%;
    border-radius: 2rem;
}

.cbh-ph-circle {
    border: 2px solid rgba(var(--button-rgb), 1);
}

.cbh-ph-circle-fill {
    background-color: rgba(var(--button-rgb), 1);
}

.cbh-ph-img-circle1 {
    background-color: rgba(var(--button-rgb), 1);
}


/*.content-modals {
    background: linear-gradient(to right, var(--bg) 0%, var(--bg) 50%, #fff 50%, #fff 100%);
}

@media (max-width: 991.98px) {
    .content-modals {
        background: none;
        background-color: var(--bg);
    }
}*/

.content-modals form {
    background: var(--bg);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(var(--bg-rgb), 0.55);

}

.content-modals form .price {
    background-color: var(--bg-darker);
    background-image: linear-gradient(135deg, var(--bg) 50%, transparent 50%), linear-gradient(225deg, var(--bg) 50%, transparent 50%), linear-gradient(45deg, var(--bg) 50%, transparent 50%), linear-gradient(-45deg, var(--bg) 50%, transparent 50%);
    background-position: top left, top left, bottom left, bottom left;
    background-size: 1rem 1rem;
    background-repeat: repeat-x;
}

.content-modals form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 4px);
    padding: 0.375rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content-modals form button {
    width: 100%;
    border-radius: 2rem;
}

.content-modals .product .img-wrap {
    position: relative; 
}

.content-modals .product .img-wrap .discount {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 5;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('./images/discount.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 576px) {
    .content-modals .product .img-wrap .discount {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1200px) {
    .content-modals .product .img-wrap .discount {
        top: -40px;
        width: 140px;
        height: 140px;
    }
}