:root {
    --top: #141312;
    --bg: #212724;
    --font: #db403e;
    --button: #ff8700;
    --button-hover: #ffa033;
    --button-active: #cc6d00;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

header {
    background-color: var(--top);
}

header .btn {
    /*width: 100%;*/
}

.cover {
    min-height: calc(100vh - 100px);
    background-color: var(--bg);
    /*background-image: linear-gradient(90deg, rgba(246, 238, 255,.04) 50%, transparent 50%),
    linear-gradient(90deg, rgba(246, 238, 255,.11) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.16) 50%),
    linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;*/
}

.cover h1 {

}

.cover h6 {

}

.cover ul li {
    position: relative;
    background-color: var(--button);
    border-radius: 8px;
}

.cover ul li::before {
    content: '';
    position: absolute;
    top: 13.5px;
    left: 16.5px;
    width: 15px;
    height: 15px;
    background-color: var(--font);
    border: 2px solid #fff;
    border-radius: 50%;
}

.cover .fda img {
    max-width: 50%;
}

@media (max-width: 575.98px) {
    .cover .fda img {
        max-width: 40%;
    }
}

.cover .product {
    position: relative;
    line-height: 1;
}

.cover .product * {
    line-height: 1;
}

.cover .product .price-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0);
    transform: translate(-30%, -30%);
    animation: pulse 0.6s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0.7);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 15px rgba(255, 252, 0, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0.7);
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(255, 252, 0, 0);
    }
}

.cover .presenter {
    
}

.cover .product-box {
    position: absolute;
    right: -20%;
    bottom: -5%;
    z-index: 11;
}

@media (max-width: 1199.98px) {
    .cover .product-box {
        bottom: -25%;
    }
}

.cover form {
    background-color: #fff;
    border-radius: 8px;
}

.cover form h3 {
    color: var(--bg);
    font-size: 24px;
    line-height: 1.6;
}

.cover form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: var(--bg);
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cover form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::-moz-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input:-ms-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::-ms-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover .symptom {

}

.cover.bottom {
    min-height: auto;
}

.cover.bottom h6 {
    color: var(--button);
}

.cover.bottom .product .price-tag {
    top: 50px;
    left: 15px;
    width: 120px;
    height: 120px;
}

.disease .pentagon-bg {
    position: relative;
    background-color: var(--bg);
}

.disease .pentagon-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--bg);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: translate(0, 100%);
}

.disease .detail h2 {
    font-weight: 700;
}

.properties .detail ul li {
    position: relative;
}

.properties .detail ul li::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    color: var(--font);
    text-align: center;
    border: 1px solid var(--font);
    border-radius: 50%;
    transform: translate(0, -50%);
}

.reviews .detail .icons {
    max-width: 100px;
}

@media (min-width: 992px) {
    .reviews .detail h3 {
        min-height: 130px;
        height: 130px;
        overflow: hidden;
    }
}

footer {
    color: var(--font);
    background-color: var(--bg);
}