:root {
    --top: #E780CD;
    --bg: #FFF7FD;
    --bg-rgb: 255, 247, 253;
    --bg-2: #F4F9FF;
    --bg-2-rgb: 244, 249, 255;
    --font: #CE6D92;
    --font-rgb: 206, 109, 146;
    --font-2: #0168C8;
    --font-2-rgb: 1, 104, 200;
    --button: #78D2EF;
    --button-hover: #a4e0f4;
    --button-active: #48c1ea;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

header {
    height: 100px;
    background-color: var(--top);
}

header .logo {
    max-height: 68px
}

header .btn {
    /*width: 100%;*/
}

header .icon {
    position: relative;
}

header .icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

header .icon::before {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

header .icon.weight::before {
    background-image: url(/assets/images/thumbs-up.png);
}

header .icon.warranty::before {
    background-image: url(/assets/images/world.png);
}

header .icon.leaf::before {
    background-image: url(/assets/images/leaf.png);
}

header .icon.thumbs-up::before {
    background-image: url(/assets/images/thumbs-up.png);
}


.cover {
    min-height: calc(100vh - 100px);
    background-color: var(--bg);
    /*background-image: linear-gradient(90deg, rgba(246, 238, 255,.04) 50%, transparent 50%),
    linear-gradient(90deg, rgba(246, 238, 255,.11) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.16) 50%),
    linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;*/
    background-image: url('./images/bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.cover h1 {

}

.cover h6 {

}

.cover ul li {
    position: relative;
    background-color: var(--top);
    border-radius: 8px;
}

.cover ul li::before {
    content: '';
    position: absolute;
    top: 13.5px;
    left: 16.5px;
    width: 15px;
    height: 15px;
    background-color: var(--green);
    border: 2px solid #fff;
    border-radius: 50%;
}

.cover .fda img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .cover .fda img {
        max-width: 120px;
    }
}

.cover .presenter {
    position: relative;
    display: inline-block;
    line-height: 1;
}

.cover .presenter * {
    line-height: 1;
}

.cover .presenter .price-tag {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0);
    transform: translate(0, 0);
    animation: pulse 1s infinite;
}

@media (max-width: 991.98px) {
    .cover .presenter .price-tag {
        top: 5%;
    }
}

@media (max-width: 575.98px) {
    .cover .presenter .price-tag {
        top: 0;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0.7);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 15px rgba(255, 252, 0, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0.7);
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(255, 252, 0, 0);
    }
}

.cover .presenter {
    
}

.cover .product {
    position: relative;
    line-height: 1;
}

.cover .product * {
    line-height: 1;
}

.cover .product .price-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0);
    transform: translate(-30%, -50%);
    animation: pulse 0.6s infinite;
}

.cover .product-box {
    position: absolute;
    right: -20%;
    bottom: -5%;
    z-index: 11;
}

@media (max-width: 1199.98px) {
    .cover .product-box {
        bottom: -25%;
    }
}

.cover form {
    background-color: #fff;
    border: 1px solid var(--bg-2);
    border-radius: 8px;
    box-shadow: 0px 0px 20px 5px rgba(var(--bg-2-rgb), 1);
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
    -webkit-animation: bounceIn 2s infinite;
    animation: bounceIn 2s infinite;
}

.cover form h3 {
    color: var(--bg);
    font-size: 24px;
    line-height: 1.6;
}

.cover form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cover form input::-webkit-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.cover form input::-moz-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.cover form input:-ms-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.cover form input::-ms-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.cover form input::placeholder {
    color: var(--font);
    opacity: 0.8;
}

.cover .symptom {

}

.cover.bottom {
    min-height: auto;
}

.cover.bottom h6 {
    color: var(--button);
}

.quality {
    background-color: #f7f7f7;
    border-top: 6px solid var(--top);
}

.quality h2 {
    color: #a97e17;
}

.disease .triangle-down {
    position: relative;
    background-color: var(--top);
}

.disease .triangle-down::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid var(--top);
    transform: translate(-50%, 100%);
}

.disease .pentagon-bg {
    position: relative;
    background-color: var(--bg);
}

.disease .pentagon-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--bg);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: translate(0, 100%);
}

.properties {
    position: relative;
    /*background-image: linear-gradient(to right, rgba(255, 222, 234, 0.6) 0%, rgba(255, 222, 234, 0) 15%, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0) 85%, rgba(255, 222, 234, 0) 85%, rgba(255, 222, 234, 1) 100%);*/
    /*background-image: radial-gradient(circle closest-side at 80% 33%,rgba(243,242,220,1) 40%,rgba(243,242,220,0) 200%),radial-gradient(circle closest-side at 20% 34%,rgba(242,190,166,0.58) 0%,rgba(243,242,220,0) 190%);*/
    background-color: var(--bg);
    background-image: url('./images/bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.properties .filter-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
}

.properties .detail ul li {
    position: relative;
    font-size: 1.2rem;
}

.properties .detail ul li::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 0;
    width: 32px;
    color: var(--green);
    text-align: center;
    border: 2px solid var(--green);
    border-radius: 50%;
    transform: translate(0, -50%);
}

.staff {

}

.staff .detail .item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: -10px 40px 100px 0 rgba(166, 177, 198, .23);
}

.how-to-order {
    background-color: #332a19;
}

.how-to-order h6 {
    color: #FEBF00;
}

.thailand {
    background-color: #e2ded3
}

.reviews .detail .icons {
    max-width: 100px;
}

@media (min-width: 992px) {
    .reviews .detail h3 {
        min-height: 130px;
        height: 130px;
        overflow: hidden;
    }
}

footer {
    color: var(--font);
    background-color: var(--bg);
}

.content-modals {
    background: linear-gradient(to right, var(--bg) 0%, var(--bg) 50%, #fff 50%, #fff 100%);
}

@media (max-width: 991.98px) {
    .content-modals {
        background: none;
        background-color: var(--bg);
    }
}

.content-modals form {
    border-radius: 8px;
}

.content-modals form h3 {
    color: var(--bg);
    font-size: 24px;
    line-height: 1.6;
}

.content-modals form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--font);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--top);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.content-modals form input::-webkit-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.content-modals form input::-moz-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.content-modals form input:-ms-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.content-modals form input::-ms-input-placeholder {
    color: var(--font);
    opacity: 0.8;
}

.content-modals form input::placeholder {
    color: var(--font);
    opacity: 0.8;
}

.content-modals .discount-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: var(--top);
}

.content-modals .discount-tag::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    background-color: var(--top);
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: translate(0, 100%);
}

.content-modals .product {
    position: relative;
    line-height: 1;
}

.content-modals .product * {
    line-height: 1;
}

.content-modals .product .price-tag {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: #ffff00;
    border: 1px solid #ffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(255, 252, 0, 0);
    animation: pulse 0.6s infinite;
}

@media (max-width: 991.98px) {
    .content-modals .product img {
        max-width: 70%;
    }
}

@media (max-width: 575.98px) {
    .content-modals .product img {
        max-width: 50%;
    }
}

.cbh-ph-circle {
    border: 2px solid rgba(var(--font-2-rgb), 1);
}

.cbh-ph-circle-fill {
    background-color: rgba(var(--font-2-rgb), 1);
}

.cbh-ph-img-circle1 {
    background-color: rgba(var(--font-2-rgb), 1);
}