@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700&display=swap&subset=thai');

body, html { 
	height: 100%;
}

body {
	font-family: 'Sarabun', sans-serif;
	color: #f2ede3;
	font-size: 18px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #333;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

.wrap {
	height: 100%;
}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main section {
	position: absolute;
	width: 50%;
	height: 50%;
}

@media (max-width: 767.98px) {

	.bl-main section {
		position: absolute;
		width: 100%;
		height: 25%;
	}

}

.bl-main section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.bl-main section:first-child {
	top: 0;
	left: 0;
	background-image: url(./1.jpg);
	background-color: #e67e22;
}

.bl-main section:first-child .bl-box {
	/*background-color: rgba(230, 126, 34, 0.6);*/
}

.bl-main section:nth-child(2) {
	top: 0;
	left: 50%;
	background-image: url(./2.jpg);
	background-color: #a05abf;
}

.bl-main section:nth-child(2) .bl-box {
	/*background-color: rgba(160, 90, 191, 0.6);*/
}

.bl-main section:nth-child(3) {
	top: 50%;
	left: 0;
	background-image: url(./3.jpg);
	background-color: #2ecc71;
}

.bl-main section:nth-child(3) .bl-box {
	/*background-color: rgba(46, 204, 113, 0.6);*/
}

.bl-main section:nth-child(4) {
	top: 50%;
	left: 50%;
	background-image: url(./4.jpg);
	background-color: #3498db;
}

.bl-main section:nth-child(4) .bl-box {
	/*background-color: rgba(52, 152, 219, 0.6);*/
}

@media (max-width: 767.98px) {

	.bl-main section:nth-child(2),
	.bl-main section:nth-child(3),
	.bl-main section:nth-child(4) {
		left: 0;
	}

	.bl-main section:nth-child(2) {
		top: 25%;
	}

	.bl-main section:nth-child(3) {
		top: 50%;
	}

	.bl-main section:nth-child(4) {
		top: 75%;
	}

}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-main section .bl-content form {
	margin: 0 auto;
	width: auto;
	min-width: 200px;
	max-width: 100%;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 0;
}

.bl-main section:first-child .bl-content form {
	/*background-color: rgba(207, 109, 23, 0.6)*/
}

.bl-main section:nth-child(2) .bl-content form {
	/*background-color: #4b245c;*/
}

.bl-main section:nth-child(3) .bl-content form {
	/*background-color: #13532e;*/
}

.bl-main section:nth-child(4) .bl-content form {
	/*background-color: #13496c;*/
}

.bl-main section .bl-content form .form-control {
	padding: 0.75rem;
	height: auto;
	color: #333;
	line-height: 1.4;
	background-clip: border-box;	
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: all 0.4s ease;
}

.bl-main section .bl-content form .form-radio {
	height: 48px;
}

.bl-main section .bl-content form .form-radio input[type="radio"] {
	display: none;
}

.bl-main section .bl-content form .form-radio input[type="radio"]:checked + label {
 	color: var(--success)
}

.bl-main section .bl-content form .form-radio i {
	line-height: 48px;
}

.bl-main section .bl-content form .select2-container {
	width: 100% !important;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

.bl-main section .bl-content form .select2-container .select2-selection--single {
	height: 48px;
	border: none;
}

.bl-main section .bl-content form .select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0 0.75rem;
	color: #495057;
	font-size: 1rem;
	line-height: 48px;
}

.bl-main section .bl-content form .select2-container .select2-selection--single .select2-selection__arrow {
	top: 50%;
	height: 100%;
	right: 0.75rem;
	transform: translate(0, -50%);
}

.select2-results__option {
	color: #333;
	font-size: 0.8rem;
}

.bl-main .btn {
	border-radius: 0;
}

/*.bl-main section .bl-content .result {
	opacity: 0;
}

.bl-main section .bl-content .result.active {
	opacity: 1;
	transition: opacity 0.3s linear 0.5s;
}*/

.result table {
	color: #fff;
	font-size: 0.9rem;
}

.bl-main section:first-child .bl-content .result table {
	background-color: #733c0d;
}

.bl-content {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	width: 60%;
	max-height: calc(100% - 120px);
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	overflow-y: auto;
	transform: translate(-50%, -50%);
}

@media (max-width: 767.98px) {
	.bl-content {
		padding: 30px 10px;
		width: 80%;
	}
}

/* Custom content */

.bl-content h2 {
	font-weight: 700;
}

@media (max-width: 767.98px) {

	.bl-content h2 {
		font-size: 1rem;
	}

	.bl-content p {
		font-size: 0.9rem;
	}

}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	padding: 60px 30px;
	width: 60%;
	opacity: 1;
	bottom: 90px;
	pointer-events: auto;
	overflow: hidden;
	overflow-y: auto;
}

@media (max-width: 767.98px) {

	div.bl-panel-items > div > div {
		padding: 60px 30px 0;
		width: 100%;
	}

}

div.bl-panel-items > div > div h2 {
	font-size: 1.6em;
	font-weight: 400;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items > div:first-child {
	background: #cf6d17;
}

div.bl-panel-items > div:nth-child(2) {
	background: #8740a5;
}

div.bl-panel-items > div:nth-child(3) {
	background: #26a65b;
}

div.bl-panel-items > div:nth-child(4) {
	background: #2283c3;
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: auto;
	bottom: 20px;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, 0);
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main section.bl-expand-top {
	z-index: 100;
}

/*.bl-main section:first-child.bl-expand {
	background: #cf6d17;
}
.bl-main section:nth-child(2).bl-expand {
	background: #8740a5;
}
.bl-main section:nth-child(3).bl-expand {
	background: #26a65b;
}
.bl-main section:nth-child(4).bl-expand {
	background: #2283c3;
}*/

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}