* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    background: rgb(247, 247, 247) none repeat scroll 0% 0%;
}

textarea,
input {
    outline: medium none;
}

a {
    color: rgb(22, 151, 206);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: medium none;
    text-decoration: none;
}

.prod__link {
    text-decoration: none;
    font-size: 0;
}

a:focus {
    outline: medium none;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

.alex_zevsa_wcih4ECQW {
    position: relative;
    margin: 0px auto;
    width: 960px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.footer .contacts,
.footer .site h4,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe,
.main-page .main-slider .share h4,
.main-page .calendar .item .dvksub_rYPIQ4ET span,
.sport-tv .left-blk,
.main-page .map h4,
.main-page .annonce-blk .dvksub_rYPIQ4ET span,
.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    font-family: PFDinTextCondProMedium, Helvetica, Arial ! important;
}

.RA4CSZ_e3qI7YOg,
.def-page .org-list h3,
.def-page .org-list .type,
.faq-page .news-list .sec-year,
.media-page .news-list .sec-year,
.sec-page .doc-list h4,
.photo-page .photo-also .dvksub_rYPIQ4ET,
.photo-page .photo-list .dvksub_rYPIQ4ET,
.video-page .video-also .dvksub_rYPIQ4ET,
.video-page .video-list .dvksub_rYPIQ4ET,
.renul_seDwyoGn57 .dvksub_rYPIQ4ET,
.zhanna_86_o5IKudBv h2,
.root_f21XaquIT .news-list .dvksub_rYPIQ4ET,
.root_f21XaquIT .top-blk .rss,
.footer .address,
.footer .copyrights,
.main-page .map h2,
.main-page .news h3,
.main-page .news-blk .dvksub_rYPIQ4ET,
.main-page .annonce-blk .dvksub_rYPIQ4ET,
.main-page .main-slider h3,
.main-page .calendar .day,
.main-page .calendar .item .dvksub_rYPIQ4ET,
.main-page .calendar .month-name,
.main-page .ministr-blk .dvksub_rYPIQ4ET,
.main-page .calendar h3,
.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a,
.main-page .news-blk .links,
.main-page .map .reg-news,
.main-page .map h3,
.main-page .annonce-blk .links,
.katyakoncakova_FtFDdVex .region-btn {
    font-family: PFDinTextCondProRegular, Helvetica, Arial ! important;
}

.order-form {
    max-width: 400px;
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 0 auto 20px;
    background-color: gray;
}

.order-form input {
    display: block;
    height: 40px;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    margin: 15px 0;
}

.order-form button {
    width: 100%;
    display: block;
    padding: 15px 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
}

.order-form button:hover {
    opacity: 0.8;
}

.katyakoncakova_FtFDdVex {
    position: relative;
    z-index: 15;
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
    margin-top: 40px;
    float: left;
    width: 265px;
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
    width: 80px;
    height: 80px;
    float: left;
    margin-top: 10px;
}

.katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
    font-size: 18px;
    margin-top: 25px;
    margin-left: 18px;
    width: 165px;
    float: left;
    text-transform: uppercase;
    line-height: 1;
}

.katyakoncakova_FtFDdVex .vasilusya_rfYcdWbD {
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
    width: 171px;
    float: right;
    margin-top: 60px;
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .mansurovan_vUZn4RQN {
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    float: right;
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .Dulov_V_V_du3BxPsUO {
    font-weight: bold;
    color: rgb(53, 55, 70);
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a {
    color: rgb(53, 55, 68);
    text-decoration: none;
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN a:hover {
    text-decoration: underline;
}

.katyakoncakova_FtFDdVex .mansurovan_vUZn4RQN .udav_t_slEtc0GR {
    margin: 0px 5px;
}

.katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs .tata_soboleva_XjcqhmYZ7 {
    margin-top: 25px;
    position: relative;
    text-align: right;
    display: block;
    cursor: pointer;
}

.katyakoncakova_FtFDdVex .tata_soboleva_XjcqhmYZ7 .tjn-02_ANHUDPcR {
    width: 170px;
    padding: 4px 5px;
    cursor: pointer;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
    margin-top: 10px;
    background: rgb(51, 53, 65) none repeat scroll 0% 0%;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .main-menu-blk {
    list-style: outside none none;
}

.katyakoncakova_FtFDdVex .main-menu-blk>li {
    display: inline-block;
    float: left;
    margin-right: 23px;
    position: relative;
    padding: 5px 10px;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe a:hover {
    text-decoration: underline;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .submenu-btn {
    color: rgb(207, 79, 58);
    font-style: normal;
    margin-left: 4px;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT {
    position: absolute;
    top: 50px;
    left: -40px;
    width: 400px;
    padding: 40px 40px 40px 0px;
    background: white none repeat scroll 0% 0%;
    z-index: 15;
    display: none;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .germantrava_IeZ6X4Esi9 .vica_ehEmluAT {
    left: 0px;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .shev_V7Mo2liaeP .vica_ehEmluAT {
    left: -180px;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT li {
    float: left;
    margin-left: 40px;
    display: block;
    border-bottom: 1px dashed rgb(189, 189, 191);
    z-index: 10;
    position: relative;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe li.wwwter_ma_fAfmL15qxg {
    border-top: 1px dashed rgb(189, 189, 191);
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a {
    font-size: 14px;
    color: rgb(22, 151, 205);
    text-transform: none;
    width: 160px;
    padding: 9px 0px 7px;
    display: block;
}

.katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe .vica_ehEmluAT a:hover {
    color: rgb(176, 73, 57);
}

.katyakoncakova_FtFDdVex .vladimir210487_POv1ApGe {
    position: absolute;
    width: 440px;
    left: 0px;
    top: -1px;
    bottom: -1px;
    box-shadow: 0px 1px 5px black;
    opacity: 0.2;
    z-index: 1;
}

.alstep54_sglCGFT6q {
    font-size: 12px;
}

.renul_seDwyoGn57 h2 {
    font-weight: bold;
    font-size: 36px;
    margin-top: 15px;
}

.renul_seDwyoGn57 .dvksub_rYPIQ4ET {
    color: rgb(108, 110, 126);
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 {
    margin-top: 25px;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgb(185, 185, 185);
    font-size: 18px;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 p {
    color: black;
    line-height: 31px;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .swetlana40_GWDvkz8Tqs {
    text-indent: 0px;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 22px;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .maki555_e4AaJE9jYG {
    margin-top: 5px;
    font-size: 15px;
    line-height: 20px;
    padding: 10px;
    background: rgb(204, 204, 204) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .udalykhnn_av3FDRJhB {
    text-align: center;
}

.renul_seDwyoGn57 .Genrik91_k2XdOzZlq1 .AGB_yQobO46Dw {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(161, 161, 162);
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv {
    float: left;
    padding: 0px 30px 10px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(161, 161, 168);
}

.renul_seDwyoGn57 .gelat_Bb6MhOHv .ewa-b_p5sjGkxr1 {
    margin-top: 5px;
}

.zhanna_86_o5IKudBv {
    background: white none repeat scroll 0% 0%;
    padding: 35px 40px 40px;
    margin: 0px 0px 50px;
    border-radius: 4px;
}

.zhanna_86_o5IKudBv h2 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
}

.altakansk_YrlOq5h6N {
    font-family: Arial;
    color: rgb(108, 110, 131);
    margin: 0px 5px;
}

.dmavrodi_yjLIBb2Q {
    position: relative;
    z-index: 10;
}

.RA4CSZ_e3qI7YOg {
    position: absolute;
    display: none;
    z-index: 150;
    background: rgb(53, 55, 66) none repeat scroll 0% 0%;
    border-radius: 4px;
    padding: 4px 10px 2px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.web-s {
    font-family: WebSymbols;
    -moz-user-select: none;
}

.sazonov66_g9ysODlqt {
    min-height: 100%;
    position: relative;
    background: rgb(247, 247, 247) none no-repeat scroll center top;
}

.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.vk-header {
    background: rgb(218, 226, 232) none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    background: transparent none no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
}

.vk-comment,
.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(218, 225, 232);
    padding-bottom: 15px;
}

.vk-comment:last-child {
    border-bottom: 0px none;
}

.vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 5px;
}

.vk-comment-text {
    margin-left: 58px;
}

.vk-comment-date {
    margin-left: 58px;
    color: rgb(153, 153, 153);
}

@media screen and (max-width: 991px) {
    .alex_zevsa_wcih4ECQW {
        width: auto;
    }
    .oui {
        height: auto;
    }
    .ouimain-img {
        width: auto;
        float: none;
    }
    .ouimain-text {
        width: auto;
        float: none;
        margin: 0;
    }
    .kmacb-form .submit {
        width: 290px;
        position: relative;
        margin: auto;
    }
    .ouimain-text p {
        font-size: 18px;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
        float: none;
    }
    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        margin: 0 auto;
        text-align: center;
        float: none;
        display: block;
    }
    .vk-comment-load,
    .puzzle_LTiRtzPGfe {
        display: block;
    }
    .main-menu-blk {
        width: 100%;
        margin: 0px auto;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 16.666%;
        float: left;
        margin: 0px;
        display: block;
        padding: 0px;
        text-align: center;
        height: 100%;
    }
    .katyakoncakova_FtFDdVex .puzzle_LTiRtzPGfe {
        height: auto;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li a {
        line-height: 50px;
    }
    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        width: 180px;
    }
    .alex_zevsa_wcih4ECQW,
    .main-menu-blk {
        height: 100%;
    }
    .web-s {
        display: none;
    }
    body img {
        max-width: 100%;
    }
    center>img {
        max-width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 33.333%;
    }
    .katyakoncakova_FtFDdVex .mikstroy_hlTMvYzPJs {
        display: none;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {}
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        margin: 0px auto;
        padding-right: 0px;
        float: none;
    }
    .renul_seDwyoGn57 .gelat_Bb6MhOHv>img {
        display: block;
        margin: 0px auto;
    }
}

@media screen and (max-width: 768px) {
    .tg tr> :first-child {
        display: none;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        margin: 10px auto 0;
        float: none;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC img {
        float: none;
    }
    .border-red {
        padding: 10px!important;
    }
    .zhanna_86_o5IKudBv {
        padding: 15px 20px 20px;
    }
    .alstep54_sglCGFT6q {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .zhanna_86_o5IKudBv {
        padding-left: 10px;
        padding-right: 10px;
    }
    .katyakoncakova_FtFDdVex .main-menu-blk>li {
        width: 50%;
    }
    .udalykhnn_av3FDRJhB img,
    body img {
        max-width: 100%;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC {
        width: 300px;
    }
    .katyakoncakova_FtFDdVex .Natali0610_RVdHBJiwC h1 {
        width: 225px;
        font-size: 16px;
        margin-top: 10px;
    }
    .alex_zevsa_wcih4ECQW {
        padding: 10px;
    }
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
}

.vk-comment-text {
    margin-left: 0;
    margin-top: 20px;
}

.msg {
    position: absolute;
    width: 600px;
    height: 220px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgb(243, 13, 141) none repeat scroll 0% 0%;
    border: 1px solid rgb(238, 238, 238);
}

.msg>h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.submit {
    margin-top: 10px;
    height: 50px;
    width: 300px;
    background-color: firebrick;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 3px;
}

.frame-container {
    position: relative;
    padding-bottom: 5%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
    height: 75%;
}

.frame-container iframe {

    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
}

.table__list {
    padding-left: 20px;
}

.vk-comment-load .date,
.vk-comment .date {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.button {
    width: 250px;
    display: block;
    margin: auto;
    font-size: 24px;
    color: #fff;
    background: red;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    clear: both;
    position: relative;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover {
    text-decoration: none;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.button__text {
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 13px;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    font-weight: inherit;
    text-shadow: inherit;
    font-family: inherit;
    outline: none;
    position: relative;
    cursor: pointer;
    text-transform: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover .button__text {
    text-decoration: none;
}

.main__wrapper {
    overflow: hidden;
}

.footer {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 480px) {
    .tg td {
        font-size: 11px;
    }
}