body {
	font: 16px/1.2 Tahoma,Verdana,Segoe,sans-serif;
}
a {
	color: #1c5a92;
	transition: all 0.3 ease;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

a:hover {
	color: #216bab;
}

a:focus,
a:active {
	color: #14436b;
}

.active {
	color: #1c5a92;
}

.main {
	background-color: #fff;
}

.main .wrap {
	box-shadow: none;
}

.marquee {
	position: relative;
	background-color: #CCEAED;
}

.marquee h3 {
	float: left;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	background-color: #1c5a92;
}

.marquee marquee {
	position: relative;
	display: block;
	overflow: hidden;
}

.marquee marquee a + a {
	margin-left: 100px;
}

.marquee marquee a:hover {
	text-decoration: underline;
}

header .logo {
	max-width: 30%;
}

header .logo img {
	max-width: 100%;
}

@media (max-width: 767.98px) {
	header .logo {
		max-width: 75%;
	}
	header .logo img {
		max-width: 100%;
	}

}

header nav {
	width: 50%;
	background-color: transparent;
}
header nav ul {
	font-size: 0;
}
header nav ul li {
	display: inline-block;
}
header nav ul li + li {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid rgba(28, 90, 146, 0.2);
}
header nav ul li a {
	color: #1e3a63;
	font-size: 1rem;
}
header nav input {
    padding-left: 35px !important;
    background-image: url(images/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.menu {
	background-color: #1c5a92;
}

.menu .btn {
	color: #fff;
}

.menu nav {
	margin: 0;
	background-color: #1c5a92;
}

@media (max-width: 767.98px) {
	.menu nav {
		display: none;
	}
}

.menu nav ul li a {
	color: #fff;
}
.menu nav ul li a.active {
	color: #1c5a92;
	background-color: #CCEAED;
}

.breadcrumbs ul li {
	color: #777;
	font-size: 0.8rem;
}
.breadcrumbs ul li a {
	color: #777;
}
.content {
	padding: 0;
}
.content h1 {
	font-size: 1.8rem;
	line-height: 1.2;
}
.content .social ul li * {
	color: #777;
	font-size: 0.8rem;
}
.content .social ul li a span {
	color: #000;
}
.content blockquote {
	position: relative;
	margin: 0 0 30px;
	padding: 25px 18px 15px 75px;
	color: #333;
	font-size: 1.2rem;
	background-color: #CCEAED;
}
.content blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0;
	left: 45px;
	color: #333;
	font-size: 6em;
	transform: translate(-50%, 0);
}
.content .sidebar  {
	background-color: transparent;
}
.content .sidebar h5 {
	color: #fff;
	font-weight: 700;
	background-color: #1e3a63;
}
.content .sidebar h6 {
	font-weight: 700;
}
.content .sidebar ul li + li{
	padding-top: 1rem;
	border-top: 1px dashed #1e3a63;
}
.content .sidebar ul li img {
	width: 100%;
}
.content .reviews {
	padding: 0 0 30px;
}
.content .reviews h3 {
	line-height: 1;
	border-bottom: 1px solid #1e3a63;
}
.content .reviews .avatar {
	margin-right: 15px;
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
}
.content .reviews .comment-form textarea {
	width: calc(100% - 65px);
	height: 50px;
}
.content .reviews .comment .comment-detail {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
@media (max-width: 767.98px) {
	.content .reviews .comment .comment-detail {
		overflow: inherit;
	}
}
.content .pulse-btn {
	background-color: #1e3a63;
	font-size: 22px;
	color: #fff;
	padding: 15px 45px;
	text-decoration: none;
	text-align: center;
	border-radius: 0;
}
@-webkit-keyframes pulse-btn {
	0%,
	20%,
	53%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		-webkit-transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
	}

	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -7.5px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -2px, 0);
	}
}

@keyframes pulse-btn {
	0%,
	20%,
	53%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0);
	}

	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -7.5px, 0);
	}

	90% {
		transform: translate3d(0, -2px, 0);
	}
}

.pulse-btn {
	box-shadow: 0px 0px 10px rgba(var(--button-rgb), 0.55);
	/*-webkit-animation: pulse-btn 1s infinite;
	animation: pulse-btn 1s infinite;*/
	transform-origin: center bottom;
}

.content img {
	max-width: 100%;
}

footer {
	color: #fff;
	background-color: #1e3a63;
}