.my-popup * {
    float: none !important;
}

.my-popup {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: #44CAAD;
}

.my-popup__wrap {
    max-width: 450px;
}

.my-popup__img {
    width: 100%;
}

.my-popup__form {

}

.my-popup .form_background {
    position: static;
    box-shadow: none;
}


@media (min-width: 320px) and (max-width: 991px) {
    .secton_ten .praces .old_price {
        left: -42px;
    }
    .secton_ten .form_block_form .praces {
        left: -3px;
    }
    .my-popup .praces .old_price {
        left: -61px;
    }
    .my-popup .btn_shadow {
        top: 12px;
    }
    .section_eight {
        margin-top: -122px;
    }
    .btn_shadow--last {
        top: 10px !important;
    }
    .sale.sale--orange {
        right: -88px !important;
        top: 67px !important;
    }
    .section_first {
        background: url(./1_bg-mob.png) no-repeat center / auto 100%;
        margin-bottom: -50px;
    }

    .section_first .btn {
        /*margin-top: 100px;*/
    }

    .green_walper {
        display: none;
    }

    .left-cell {
        width: 100%;
        top: 0;
    }

    .right-cell {
        width: 100%;
        position: relative;
        display: block;
    }

    .right_wrap_block {
        position: relative;
        left: 0;
        bottom: 5px;
    }

    .container {
        margin-top: 0;
        margin-bottom: -60px;
    }

    .section_first .logo:before {
        display: none;
    }

    .prod_natural {
        display: none;
    }

    .problems {
        display: none;
    }

    .problems:before {
        display: none;
    }

    .prod_natural:before {
        display: none;
    }

    .prod_wrap:before {
        display: none;
    }

    .section_first .limit .container:after {
        display: none;
    }

    .section_two .text:before {
        display: none;
    }

    .section_two .text:after {
        display: none;
    }

    .header_three:after {
        display: none;
    }

    .header_three span {
        border: none;
        color: #773300;
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        padding: 40px 0 65px 0;
        display: block;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 23px;
    }

    .header_three span b {
        font-size: 20px;
        font-weight: bolder;
    }

    .section_three {
        background: none;
    }

    .section_three_punkts:before {
        display: none;
    }

    .section_three_punkts:after {
        display: none;
    }

    .footer_three {
        display: none;
    }

    .green_block-info {
        display: none;
    }

    .header_four span {
        border: none;
    }

    .header_six span {
        border: none;
        color: #1aa387;
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        padding: 0 0 30px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .header_four:after {
        display: none;
    }

    .header_six:after {
        display: none;
    }

    .header_four:after {
        display: none;
    }

    .body_four-block:first-child .block_centre:after {
        display: none !important;
    }

    .body_four-block:nth-child(2) .block_centre:after {
        display: none;
    }

    .body_four-block:last-child .block_centre:after {
        display: none;
    }

    .section_five {
        display: none;
    }

    .header_six:before {
        display: none;
    }

    .header_four:before {
        display: none;
    }

    .last_block .body_six-right:before {
        display: none;
    }

    .last_block .body_six-right:after {
        display: none;
    }

    .body_four-block:last-child:before {
        display: none;
    }

    .section_six {
        background: none;
        margin-top: 10px;
        margin-bottom: 50px;
        min-height: 720px;
    }

    .body_six_text {
        border: none;
        text-align: left;
        font-size: 17px;
        display: block;
        line-height: 1.2;
        width: 280px;
        padding: 0px 10px;
        border-left: none;
        letter-spacing: -0.5px;
        border-top: none;
        position: relative;
        left: 0;
        top: -40px;
        margin-bottom: 0;
    }

    .body_six .body_six_text:after {
        display: none;
    }

    .body_six:last-child .body_six_text:after {
        display: none;
    }

    .last_block .body_six-right .body_six_text {
        border: none;
        display: inline-block;
        border-right: none;
        padding: 0px 10px;
        text-align: left;
        left: 0;
    }

    .last_block .body_six-right .body_six_text:after {
        display: none;
    }

    .body_seven-img {
        display: none;
    }
    .body_seven_right_block {
        padding-left: 0;
        margin-top: 42px;
        margin-bottom: 0;
    }

    .body_seven .doctor {
        position: static;
        margin-top: 0;
        max-width: 300px;
    }

    .fio {
        left: -22px;
        bottom: -59px;
    }

    .section_seven {
        padding-bottom: 229px;
    }

    .section_six .last_block {
        border-bottom: none !important;
    }

    .section_six {
        margin-bottom: -50px;
    }

    .header_seven span {
        top: 45px;
    }

    .header_seven:after {
        left: 227px;
        top: -33px;
    }

    .header_eight:before {
        display: none;
    }

    .header_eight span {
        border: none;
        color: #1aa387;
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        display: block;
        padding: 0;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .header_eight span b {
        font-size: 45px;
        color: #393939;
        line-height: 40px;
    }

    .header_eight:after {
        display: none;
    }

    .section_eight_wrap_box:last-child:before {
        display: none;
    }

    .section_eight_wrap_box:first-child div:before {
        display: none;
    }

    .body_eight_left_block .product {
        display: none;
    }

    .body_eight_green_block:after {
        content: "";
        background: url(./6_calendar-mob.png) top center no-repeat;
        width: 126px;
        height: 137px;
        z-index: 2;
        display: block;
        position: absolute;
        left: 190px;
        bottom: -43px;
    }

    .section_nine .header_eight:before {
        display: none;
    }

    .body_nine_left_block .product {
        display: none;
    }

    .body_nine_right_block:before {
        display: none;
    }

    .body_nine_right_block:after {
        display: none;
    }

    .secton_ten_title_right:before {
        display: none;
    }

    .form_background:before {
        display: none;
    }

    .section_fourteen_bg_girl {
        display: none;
    }

    .secton_ten_title_right:after {
        display: none;
    }

    .section_ten_bottom {
        display: none;
    }

    .image-web {
        display: none;
    }

    .image-mob {
        display: block;
    }

    .section_first .image-mob {
        max-width: 313px !important;
        margin: 61px auto 0;
    }

    .limit {
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        width: 300px;
    }

    .left_wrap {
        width: 100%;
        float: none;
        top: 0;
    }

    .section_first .logo:before {
        display: none;
    }

    .logo {
        color: #575757;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        letter-spacing: -2px;
        width: 200px;
        line-height: 54px;
        margin: 5px auto -5px;
        border-bottom: 1px dashed #1aa387;
    }

    .slogan {
        padding-top: 5px;
        text-align: center;
    }

    .slogan h1 {
        font-family: "Open Sans", serif;
        color: #773300;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 40px;
    }

    .slogan h1 p {
        color: #92bb3c;
        letter-spacing: normal;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
        font-weight: bolder;
    }

    .slogan h1 p span {
        margin-left: 0;
    }

    .prod_wrap {
        position: relative;
        bottom: 0px;
        z-index: 2;
        right: -3px;
        width: 271px;
        margin-top: -47px;
    }

    .sale {
        display: block;
        position: relative;
        width: 108px;
        height: 106px;
        box-sizing: border-box;
        text-align: center;
        font-size: 18px;
        font-family: 'Impact', sans-serif;
        color: white;
        line-height: 1;
        right: -229px;
        bottom: 271px;
        z-index: 100;
        -moz-transform: rotate(34deg);
        -ms-transform: rotate(34deg);
        -webkit-transform: rotate(34deg);
        -o-transform: rotate(34deg);
        transform: rotate(5deg);
    }

    .sale span {
        display: block;
        margin-top: 0px;
        position: relative;
        top: 33px;
        font-size: 19px;
        left: -44px;
        letter-spacing: 1px;
        font-weight: normal;
    }

    .section_first .sale span {
        left: 0px;
    }

    .sale span:last-child {
        font-size: 15px;
    }

    .sale::before {
        width: 120px;
        height: 120px;
    }

    .praces .new_price {
        font-size: 30px;
    }

    .praces .old_price {
        font-size: 22px;
        line-height: 26px;
        position: relative;
        left: -85px;
    }

    .form_block_form .praces .new_price {
        font-size: 40px;
        color: #ff8800;
        font-weight: bold;
        width: 260px;
        letter-spacing: -1px;
        text-align: center;
        background: #ffffff;
        padding: 6px 0px 0;
        display: block;
        line-height: 1.1;
        margin: -8px 0 8px 10px;
        z-index: 9999;
    }

    .price_place {
        right: -29px;
        bottom: 164px;
        position: relative;
        z-index: 12;
    }

    .btn {
        cursor: pointer;
        text-transform: uppercase;
        width: 236px;
        background: #ffb000;
        background: -moz-linear-gradient(top, #ffb000 0%, #ff2500 100%);
        background: -webkit-linear-gradient(top, #ffb000 0%, #ff2500 100%);
        background: linear-gradient(to bottom, #ffb000 0%, #ff2500 100%);
        padding: 17px 26px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        border: solid 1px #f87500;
        -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
        box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.5);
    }

    .btn_shadow {
        width: 236px;
        border-radius: 50px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        position: relative;
        top: 73px;
    }

    .praces {
        width: auto;
        left: 5px;
        top: 44px;
    }

    .section_two {
        /*border-top: 3px solid #ffffff;*/
    }

    .section_two .text {
        position: relative;
        margin: 0px auto;
        width: auto;
        padding: 9px 11px;
        font-size: 19px;
        text-align: center;
        color: #fff;
        line-height: normal;
    }

    .header_three {
        margin-bottom: -50px;
    }

    .body_three {
        margin: 0;
    }

    .punkts-content:before {
        display: none;
    }

    .body_three .section_three_punkts .punkts-content {
        display: block;
        width: 100%;
        padding: 0 5px;
    }

    .punkts-content span:first-child {
        font-size: 35px;
        margin-right: 5px;
        position: relative;
        left: 16px;
    }

    .punkts-content span:nth-child(2) {
        font-size: 16px;
        padding: 10px 0px;
        letter-spacing: -0.5px;
        width: 192px;
        left: 10px;
    }

    .punkts-content {
        width: 189px;
        float: none;
        margin: 0 auto;
        position: relative;
        /*left: -10px;*/
    }

    .body_three .section_three_punkts .punkts-content:nth-child(2) {
        width: 261px;
        padding: 0 20px;
    }

    .punkts-content-img div:first-child div .punkt-one {
        background-position: -75px 0px;
        background-size: 184% 109%;
    }

    .punkts-content-img {
        font-size: 16px;
    }

    .punkts-content-img div div p {
        width: 135px;
        top: 19px;
        margin-bottom: 30px;
    }

    .punkts-content-img div div span {
        width: 90px;
        height: 90px;
        position: relative;
        border: 3px solid #ffffff;
        border-radius: 94px;
        box-shadow: 0px 6px 9px #bfbabb;
        top: 10px;
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
    }

    .punkts-content-img div div {
        float: left;
        width: 150px;
    }

    .punkts-content-img div {
        position: relative;
        left: 4px;
    }

    .section_three_punkts {
        position: relative;
        display: block;
        border-collapse: separate;
        border-spacing: 14px 0px;
    }

    .punkts-content-img div:first-child div .punkt-two {
        background: url(./2_foto_2.png) no-repeat;
        background-position: -43px -1px;
        background-size: 198% 135%;
    }

    .punkts-content-img .last_div {
        position: relative;
        left: 0;
    }

    .punkts-content-img div:nth-child(2) div .punkt-one {
        background-position: -58px -12px;
        background-size: 242% 158%;
    }

    .punkts-content-img div:nth-child(2) div .punkt-two {
        background-position: -32px -7px;
        background-size: 166% 114%;
    }

    .body_three:nth-child(3) .punkts-content-img div:first-child div .punkt-one {
        background-position: -28px -4px;
        background-size: 143% 105%;
    }

    .body_three:nth-child(3) .punkts-content-img div:first-child div .punkt-two {
        background-position: -27px 0px;
        background-size: 167% 105%;
    }

    .body_three:nth-child(3) .punkts-content-img div:nth-child(2) div .punkt-one {
        background-position: -51px -10px;
        background-size: 225% 154%;
    }

    .body_three:nth-child(3) .punkts-content-img div:nth-child(2) div .punkt-two {
        background-position: -58px -5px;
        background-size: 186% 127%;
    }

    .body_three:last-child .section_three_punkts .punkts-content {
        padding: 0;
    }

    .body_three:last-child .section_three_punkts .punkts-content span:first-child {
        left: 43px;
    }

    .punkts-content .before {
        position: absolute;
        color: white;
        font-size: 35px;
        font-family: 'Open Sans', sans-serif;
        top: 50%;
        transform: translateY(-50%);
        left: 28px;
        font-weight: bold;
        z-index: 20;
    }

    .body_three:last-child .punkts-content-img div {
        position: relative;
        left: 4px;
    }

    .body_three:last-child .punkts-content-img div div .punkt-one {
        background-position: -9px -18px;
        background-size: 186% 127%;
    }

    .body_three:last-child .punkts-content-img div div .punkt-two {
        background-position: -37px 1px;
        background-size: 182% 124%;
    }

    .section_four {
        margin-top: -23px;
        padding-bottom: 10px;
    }

    .header_four span {
        font-size: 25px;
        letter-spacing: -0.5px;
        padding: 38px 0;
    }

    .body_four-block {
        width: 298px;
        float: none;
        min-height: 100%;
        position: relative;
        box-shadow: none;
        margin: 0;
    }

    .body_four-block:after {
        display: none;
    }

    .body_four-block p:first-child {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 10px auto 20px;
        line-height: 23px;
        width: 100%;
    }

    .block_centre {
        background: url(./3_pic_1-mob.png) no-repeat center;
        background-size: 100% 100%;
        width: 120px;
        height: 119px;
        position: absolute;
        border: none;
        box-shadow: none;
        margin: 0;
        top: 50%;
        left: 2px;
        margin-top: -53px;
        z-index: 20;
    }

    .body_three:last-child .punkts-content-img {
        margin-left: 0px;
    }

    .body_four-block .green_text {
        font-size: 17px;
        color: #1aa387;
        width: 162px;
        text-align: center;
        font-weight: bold;
        margin: 10px auto 18px;
        padding: 7px 7px 5px 107px;
        border-radius: 10px;
        line-height: 20px;
        position: relative;
        z-index: 9;
        background: #fff7eb;
        border: none;
    }

    .body_four-block:nth-child(2) p:first-child {
        margin: 15px auto 15px;
        color: #000000;
    }

    .body_four-block:nth-child(2) .block_centre {
        background: url(./3_pic_2-mob.png) no-repeat center right;
        width: 120px;
        height: 119px;
        border: none;
        box-shadow: none;
        margin: 0;
        position: absolute;
        left: 173px;
        top: 50%;
        margin-top: -54px;
    }

    .body_four-block:nth-child(2) .green_text {
        font-size: 17px;
        color: #ffffff;
        width: 162px;
        text-align: center;
        font-weight: bold;
        margin: 10px auto 18px;
        padding: 7px 107px 5px 7px;
        line-height: 20px;
        position: relative;
        z-index: 9;
        background: #7fd8c2;
        border: none;
        border-top: none;
    }

    .body_four-block:last-child .block_centre {
        background: url(./3_pic_3-mob.png) no-repeat center;
        width: 120px;
        height: 119px;
        border: none;
        box-shadow: none;
        margin: 0;
        position: absolute;
        background-size: 100%;
        top: 50%;
        left: 2px;
        margin-top: -55px;
    }

    .section_four .green_line {
        border-bottom: 1px dashed #1aa387;
        margin: 0 -999px;
        padding: 0 999px;
    }

    .section_four .btn_shadow {
        margin: 20px auto 25px;
        width: 236px;
        border-radius: 50px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
        position: relative;
        top: 2px;
    }

    .header_six span b {
        color: #393939;
        font-size: 45px;
        line-height: 41px;
    }

    .section_six_blocks {
        display: block;
        position: relative;
    }

    .body_six:first-child {
        padding: 0 0 30px;
        width: auto;
        margin-bottom: 0px;
    }

    .body_six:first-child img {
        float: none;
        margin: 55px auto 0px;
    }

    .body_six_number {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        top: -93px;
        font-size: 30px;
        background: #1aa387;
        right: -62px;
        color: #ffffff;
        font-weight: bold;
        z-index: 99;
        border-radius: 40px;
        width: 31px;
        height: 43px;
        padding: 0 0 0 12px;
    }

    .body_six:nth-child(2) {
        width: auto;
        display: block;
        background: #fff7eb;
        margin: -30px -999px 0;
        padding: 30px 999px;
    }

    .body_six:nth-child(2) img {
        top: 10px;
        left: -90px;
        z-index: 20;
    }

    .body_six:last-child .body_six_number {
        top: 48px;
        right: -58px;
    }

    .body_six:last-child .body_six_text {
        text-align: left;
        font-size: 17px;
        display: block;
        line-height: 1.1;
        width: 270px;
        padding: 15px 0px 15px 0;
        border: none;
        letter-spacing: -0.5px;
        border-bottom: none;
        position: relative;
        left: 0;
        top: 5px;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 68px;
    }

    .section_six .last_block {
        position: relative;
        top: 0;
        right: 0;
        border-bottom: 1px dashed #1aa387;
        margin: 0 -999px;
        padding: 0 999px;
    }

    .last_block .body_six-right {
        padding: 30px 0 60px;
        width: auto;
        float: none;
        position: relative;
        bottom: -10px;
        left: 0;
    }

    .last_block .body_six-right img {
        float: none;
        z-index: 15;
        margin: auto;
        position: relative;
    }

    .last_block .body_six-right .body_six_number {
        right: -62px;
        top: -85px;
    }

    .section_eight {
        position: relative;
        background-repeat: no-repeat;
        background: #fdfff3;
    }

    .header_eight {
        margin-bottom: 0;
        margin-top: 13px;
    }

    .body_eight_right_block {
        float: none;
        width: 100%;
    }

    .section_eight_wrap_box:first-child {
        position: relative;
        left: 0;
        width: auto;
        margin-bottom: 40px;
    }

    .section_eight_wrap_box img {
        position: relative;
        top: 6px;
        float: none;
        margin: auto;
    }

    .section_eight_wrap_box:first-child span {
        color: #92bb3c;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 59px;
        left: 72px;
        font-size: 22px;
        font-weight: 900;
    }

    .section_eight_wrap_box div {
        display: inline-block;
        position: relative;
        top: 12px;
        letter-spacing: 0;
        left: 10px;
        width: 270px;
        margin: 0 auto;
    }

    .section_eight_wrap_box div p:last-child {
        font-size: 17px;
    }

    .section_eight_wrap_box:last-child {
        position: relative;
        left: 0;
        width: auto;
        top: 0;
    }

    .section_eight_wrap_box:last-child span {
        color: #92bb3c;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        top: 34px;
        left: 69px;
        font-size: 22px;
        font-weight: 900;
    }

    .body_eight_green_block:before {
        display: none;
    }

    .body_eight_left_block {
        float: none;
        width: auto;
        position: relative;
        top: 45px;
        left: 0;
        border-bottom: 1px dashed #1aa387;
        margin: 0 -999px;
        padding: 0 999px 60px;
    }

    .body_eight_green_block {
        font-size: 17px;
        margin: initial;
        line-height: 19px;
        top: 30px;
        left: 0;
        text-align: center;
        padding: 8px 100px 10px 34px;
        position: relative;
    }

    .calendar_text p {
        font-size: 55px;
    }

    .calendar-days {
        left: 14px;
    }

    .calendar_text {
        color: #1aa387;
        font-size: 25px;
        font-weight: bold;
        line-height: 34px;
        position: relative;
        left: 215px;
        z-index: 9;
        top: -33px;
    }

    .body_nine_right_block {
        float: none;
        width: 100%;
    }

    .block_responces {
        background: none;
        width: 280px;
        position: relative;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 0px;
        letter-spacing: -0.5px;
        padding: 0px 10px;
        margin: auto;
    }

    .block_responces_background {
        background: none;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        min-height: initial;
    }

    .body_nine_left_block {
        float: none;
        width: 100%;
    }

    .reviews-list {
        display: block !important;
    }

    .block_responces .block_name {
        color: #1aa387;
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        padding: 6px 0 10px;
        margin: auto;
        width: 270px;
        text-align: center;
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-dots {
        margin: 0px auto;
        overflow: hidden;
        text-align: center;
        position: relative;
        top: -10px;
        left: -10px;
    }

    .slick-dots li.slick-active {
        cursor: pointer;
        background: url("./dot.png");
        width: 26px;
        height: 26px;
        position: relative;
        top: -2px;
    }

    .slick-dots li {
        display: inline-block;
        list-style: none;
        width: 21px;
        height: 21px;
        margin-right: 10px;
        border-radius: 50%;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        background-color: #1aa387;
        margin: 20px 7px;
        padding: 0px;
    }

    .slick-dots li button {
        outline: none;
        background: transparent;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 0;
    }

    .block_responces .block_ava {
        border: 3px solid #1aa387;
        float: none;
        margin: 20px auto;
        width: 170px;
        height: 170px;
    }

    .slick-prev {
        display: block;
        background: url(./arrow-point-to-left.png) no-repeat;
        width: 17px;
        height: 29px;
        position: absolute;
        top: 22%;
        left: 25px;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        font-size: 0;
        z-index: 20;
    }

    .slick-next {
        display: block;
        background: url(./arrow-point-to-right.png) no-repeat;
        width: 17px;
        height: 29px;
        position: absolute;
        right: 25px;
        top: 22%;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        font-size: 0;
        z-index: 20;
    }

    .header_ten {
        position: relative;
        top: 78px;
        width: auto;
    }

    .header_ten .logo {
        color: #575757;
        text-transform: uppercase;
        font-size: 65px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        margin: -64px auto 0;
        width: 280px;
        border: none;
        letter-spacing: -1px;
    }

    .secton_ten_title_right {
        color: #773300;
        font-size: 25px;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        line-height: 1;
        letter-spacing: -1px;
        position: relative;
        top: 7px;
        margin-bottom: 16px;
    }

    .secton_ten_title_right p {
        color: #92bb3c;
        display: inline-block;
    }

    .form_block_form {
        background: none;
        width: 280px;
        background: none;
        float: none;
        border-radius: 10px;
        margin-bottom: 0px;
        padding: 0;
        position: relative;
        left: 0px;
        top: -37px;
    }

    .form_block_img {
        position: relative;
        bottom: -64px;
        right: 35px;
        z-index: 9;
    }

    .section_ten_bottom:before {
        display: none;
    }

    .body_four-block-position {
        position: relative;
    }

    .section_ten_bottom:after {
        display: none;
    }

    .form_block .sale {
        display: block;
        position: absolute;
        width: 196px;
        box-sizing: border-box;
        text-align: center;
        font-size: 23px;
        font-family: 'Impact', sans-serif;
        color: white;
        line-height: 1;
        right: -64px;
        top: 93px;
        z-index: 100;
    }

    .form_block .sale--orange::before {
        left: 28%;
    }

    .form_background {
        background: #44caad;
        width: 276px;
        float: none;
        border-radius: 10px;
        margin-bottom: 0px;
        padding: 50px 17px 20px;
        position: relative;
        right: 5px;
        top: 0px;
        box-shadow: -1px 1px 2px #147b66;
    }

    .secton_ten {
        background: rgba(157,224,208,1);
        background: -moz-linear-gradient(left, rgba(157,224,208,1) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(157,224,208,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(157,224,208,1) 0%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(157,224,208,1) 0%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(157,224,208,1) 0%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(157,224,208,1) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9de0d0', endColorstr='#ffffff', GradientType=1 );
        background-size: 100%;
        margin: 25px 0 0 0;
    }

    .form_block {
        position: relative;
    }

    .form_block_form .praces .word_price {
        color: #fff;
        font-size: 22px;
        position: absolute;
        right: 0px;
        top: -14px;
        line-height: 24px;
        font-weight: normal;
    }

    .form_block_form .praces {
        width: 268px;
        text-align: right;
        font-weight: bold;
        line-height: 1.5;
        left: 13px;
        position: relative;
    }

    .form_block_form_title {
        display: block;
        color: #ffffff;
        font-size: 30px;
        text-transform: uppercase;
        width: 275px;
        padding: 6px 1px;
        letter-spacing: 0px;
        font-weight: bold;
        text-align: center;
        line-height: 30px;
        margin: 58px 0 0;
    }

    .form .btn_shadow {
        width: 236px;
        margin: auto;
        border-radius: 50px;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.6);
    }

    .form button {
        margin: 10px auto 15px auto;
        display: block;
        letter-spacing: -0.2px;
        border-radius: 50px;
        font-weight: bold;
        width: 236px;
        padding: 17px 26px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
    }

    input {
        display: block;
        width: 239px;
        margin: 10px auto;
        border: double 3px #e2e2e2;
        padding: 9px 15px;
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
        font-size: 17px;
    }

    select {
        display: block;
        width: 275px;
        margin: 0 auto;
        border: double 3px #e2e2e2;
        font-family: 'Open Sans', sans-serif;
        padding: 9px 15px;
        border-radius: 5px;
        background: url(./disclosure.png) 93% 50% no-repeat #ffffff !important;
        font-size: 17px;
    }

    @-moz-document url-prefix() {
        .slick-dots li.slick-active {
            top: 2px !important;
        }
    }

    .form_block_img img {
        position: relative;
        left: 10px;
        width: 286px;
        margin-top: 90px;
        margin-left: 23px;
    }
    .sale.sale--orange {
        top: 9px !important;
    }
}



@media screen and (max-width: 767px) {
    .my-popup__wrap {
        display: none;
    }
}


@media screen and (max-width: 480px) {
    .sale {
        right: -197px !important;
        bottom: 235px !important;
    }
    .section_first .prod_wrap {
        margin-top: 20px;
    }
    .section_first .sale {
        bottom: 285px !important;
    }
}


@media screen and (max-width: 380px) {
    .wrapper svg {
        display: none !important;
    }
}