.ac_footer {
	position: relative;
	top: 10px;
	height: 0;
	text-align: center;
	margin-bottom: 70px;
	color: #A12000;
}
.ac_footer a {color: #A12000;}
img[height="1"],img[width="1"] {display: none !important;}