html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: #000;
	font-family: 'Sarabun', sans-serif;
	font-size: 16px;
	font-weight: 400;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
img {
	max-width: 100%;
}
.coming-soon {
	width: 100%;
	height: 100%;
}
nav {
	background-color: #fcca49;
}
nav ul li + li {
	border-left: 1px solid #1f242a;
}
nav ul li a {
	color: #1f242a;
}
.product .card-columns .card .img-wrap {
	position: relative;
}

.product .card-columns .card .img-wrap img {
	margin: 0 auto;
	display: block;
}