.wrap {

}

.filter {

}

.result {
	padding: 30px 0;
}

legend {
	border-bottom: 1px solid #F0F0F0;
}

.datatable {
	font-family: 'Prompt', sans-serif;
	font-size: 1em;
	font-weight: 400;
}
.datatable .table-header {
	padding: 10px 20px;
	color: #930180;
	font-weight: 500;
	text-align: center;
	background: #f6f7f9 0 0 repeat-x;
	background: -moz-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f7f9),color-stop(100%,#ebedf0));
	background: -webkit-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -o-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -ms-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	border: 1px solid #d9d9d9;
	border-bottom: 0 none;
}
.datatable .table-header.a-left {
	text-align: left;
}
.datatable .table-wrapper {
	overflow: auto;
}
.datatable .table-wrapper table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
.datatable .table-wrapper table + table {
	margin-top: 5px;
}
.datatable .table-wrapper table tbody {
	color: #222;
	background: #fff;
	outline: 0;
}
.datatable .table-wrapper table tbody tr {
	border: 1px solid #d5d5d5;
}
.datatable .table-wrapper table thead th,
.datatable .table-wrapper table tbody td,
.datatable .table-wrapper table tfoot th,
.datatable .table-wrapper table tfoot td {
	padding: 8px 10px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
}
.datatable .table-wrapper table tbody td {
	border-color: inherit;
}
.datatable .table-wrapper table tbody tr.header {
	color: #1b1d1f;
	font-weight: 500;
	background: #f6f7f9 0 0 repeat-x;
	background: -moz-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f7f9),color-stop(100%,#ebedf0));
	background: -webkit-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -o-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -ms-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	border: 1px solid #d9d9d9;
}