/*header {
	color: #fff;
	background-color: #34aca0;
	border-bottom: 1px solid #298980;
}
*/
.container-fluid {
	padding: 0 30px;
}

.main-icon {
	position: relative;
	padding-top: 100%;
	width: 100%;
	border: 1px solid #34aca0;
	border-radius: 0.25rem;
}

.main-icon a {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #34aca0;
	transform: translate(-50%, -50%);
}

.calorie-blog {
	border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.calorie-form {
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 10px;
}

.calorie-form .form-control {
	padding: 0.75rem;
	height: auto;
	color: #495057;
	line-height: 1.4;
    background-color: #fff;
    border: 1px solid #ced4da;
	transition: all 0.4s ease;
}

.calorie-form .form-radio {
	height: 48px;
}

.calorie-form .form-radio i {
	line-height: 48px;
}

.calorie-form .select2-container {
	width: 100% !important;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

.calorie-form .select2-container .select2-selection--single {
	height: 48px;
	border: none;
}

.calorie-form .select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0 0.75rem;
	color: #495057;
	font-size: 1rem;
	line-height: 48px;
}

.calorie-form .select2-container .select2-selection--single .select2-selection__arrow {
	top: 50%;
	height: 100%;
	right: 0.75rem;
	transform: translate(0, -50%);
}

.select2-results__option[aria-selected] {
	font-size: 0.8rem;
}

.calorie-result .fat img {
	max-height: 400px;
}

.calorie-result a {
	color: var(--button);
	transition:all 0.3s ease;
}

.calorie-result a:hover,
.calorie-result a:focus,
.calorie-result a:active {
	text-decoration: none;
}

.calorie-result a:hover {
	color: var(--button-hover);
}

.calorie-result a:focus,
.calorie-result a:active {
	color: var(--button-active);
}