@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700&display=swap&subset=thai');

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: rgba(0,0,0,0.8);
	font-family: 'Sarabun', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f2f2f2 url(../images/bg1.png);
}

a {
	color: #28a745;
	transition:all 0.3s ease;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

a:hover {
	color: #32cd56;
}

a:focus,
a:active {
	color: #23903c;
}

.main-bg {
	background-color: #23903c;
}

.main-bg.t-chrome {
	background-color: #4597be;
}

hr.t-chrome {
	border-top: 2px solid #4597be;
}

.main-bg h1 {
	color: #fff;
}

.main .wrap {
	position: relative;
	background-color: #FFF;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar .navbar-brand {
	margin: 0;
}

.navbar .navbar-brand img {
	max-width: 100%;
}

.navbar ul li a {
	font-size: .75rem;
}

nav {
	margin: 0 -15px;
	background-color: #f2f2f2;
}

nav.fixed {
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 1;
	margin: 0;
	font-size: 0.9rem;
	transform: translate(-50%, 0);
}

nav ul li.active {
	background-color: #28a745;
}

nav ul li.active a {
	color: #fff;
}

@media (max-width: 767.98px) {
	nav ul li a {
		font-size: 0.8rem;
	}
}

.breadcrumbs {
	padding: 15px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1rem;
}

.breadcrumbs ul li {
	padding-left: 2px;
	display: inline-block;
}

.breadcrumbs ul li strong {
	font-weight: normal;
}

.content {
	padding: 30px;
	background-color: #FFF;
}

.content .cover {
	position: relative;
}

.content .cover .overlay-text {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 75%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	transform: translate(-50%, 0);
}

.content .cover .overlay-text {
	position: absolute;
	bottom: 60px;
	left: 50%;
	width: 75%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	transform: translate(-50%, 0);
}

.content .cover .overlay-social {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	background-color: #000;
}

.content .cover .overlay-social ul li a {
	color: #fff;
	font-size: 0.9rem;
}

@media (max-width: 767.98px) {
	.content h1 {
		font-size: 1.4rem;
	}

	.content h2 {
		font-size: 1.2rem;
	}

	.content h3 {
		font-size: 1rem;
	}
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin: 0;
}

.content h1,
.content h2,
.content h3 {
	font-weight: 700;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	line-height: 1.6;
}

.active {
	color: #28a745;
}

.content img {
	margin: 0 auto;
	width: auto;
	max-width: 640px;
}

.content img.icon {
	max-width: 100%;
}

@media (max-width: 767.98px) {
	.content img {
		max-width: 100%;
	}
}

.content p {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

.content p.paragraph {
	text-indent: 50px;
}

.content ul, .content ol {
	margin: 0 0 0 45px;
	padding: 0;
}

.content ul li, .content ol li {
	color: #333;
	line-height: 1.6;
}

.content ul li img {
	max-width: 100%;
}

.content .ads img {
	max-height: 150px;
}

.content.center {
	text-align: center;
}

.content.center>div {
	padding: 0;
}

.content iframe {
	margin: 10px 0;
	width: 100%;
	height: 300px;
	border: 0;
}

.content p.paragraph {
	text-indent: 50px;
}

.content p.center {
	text-align: center;
}

.content strong {
	font-weight: bold !important;
}

.content .purple {
	color: #86007D;
}

.content .blue {
	color: #0000F9;
}

.content .green {
	color: #008018;
}

.content .yellow {
	color: #FFFF41;
}

.content .orange {
	color: #FFA52C;
}

.content .red {
	color: #FF0018;
}

.content-map {
	position: relative;
	min-height: 500px;
	height: 100%;
	margin-bottom: 20px;
}

.content .thumbnail {
	margin: 0 auto;
	padding: 0 0 30px;
	width: 100%;
	text-align: center;
}

.content .thumbnail img {
	max-width: 100%;
	max-height: 360px;
}

.content .primary {
	color: #930180;
}

.content .image-element {
	text-align: center;
}

.content .datatable {

}
.content .datatable .table-header {
	padding: 10px 20px;
	color: #930180;
	font-weight: 500;
	text-align: center;
	background: #f6f7f9 0 0 repeat-x;
	background: -moz-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f7f9),color-stop(100%,#ebedf0));
	background: -webkit-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -o-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -ms-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	border: 1px solid #d9d9d9;
	border-bottom: 0 none;
}
.content .datatable .table-header.a-left {
	text-align: left;
}
.content .datatable .table-wrapper {
	overflow: auto;
}
.content .datatable .table-wrapper table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}
.content .datatable .table-wrapper table + table {
	margin-top: 5px;
}
.content .datatable .table-wrapper table tbody {
	color: #222;
	background: #fff;
	outline: 0;
}
.content .datatable .table-wrapper table thead th,
.content .datatable .table-wrapper table tbody tr {
	border: 1px solid #d5d5d5;
}
.content .datatable .table-wrapper table thead th,
.content .datatable .table-wrapper table tbody td,
.content .datatable .table-wrapper table tfoot th,
.content .datatable .table-wrapper table tfoot td {
	padding: 8px 10px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
}
.content .datatable .table-wrapper table tbody td {
	border-color: inherit;
}
.content .datatable .table-wrapper table tbody tr.header {
	color: #1b1d1f;
	font-weight: 500;
	background: #f6f7f9 0 0 repeat-x;
	background: -moz-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f6f7f9),color-stop(100%,#ebedf0));
	background: -webkit-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -o-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: -ms-linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	background: linear-gradient(top,#f6f7f9 0,#ebedf0 100%);
	border: 1px solid #d9d9d9;
}

.content .article-share {
	position: absolute;
	top: 5px;
	left: calc(100% - 15px);
}

@media (max-width: 1140px) {
	.content .article-share {
		position: absolute;
		right: 15px;
		left: auto;
	}
}

.content .article-share .icon-share {
	padding: 10px;
	display: block;
	color: #FFF;
	text-align: center;
}

@media (max-width: 575.98px) {
	.content .article-share .icon-share {
		padding: 10px;
	}
}

.content .article-share .icon-share i {
	font-size: 1.2em;
}

@media (max-width: 575.98px) {
	.content .article-share .icon-share i {
		font-size: 1em;
	}
}

.content .article-share .icon-share.facebook {
	background-color: #3b5998;
}

.content .article-share .icon-share.twitter {
	background-color: #55acee;
}

.content .article-share .icon-share span {
	padding: 5px 0 0;
	display: block;
	font-size: 10px;
	line-height: 1;
}

@media (max-width: 1140px) {
	.content .article-share .icon-share span {
		display: none;
	}
}

.content .sidebar {
	background-color: #f2f2f2;
}

.content .sidebar h2 {
	border-bottom: 1px solid #999;
}

.content .sidebar ul li + li {
	border-top: 1px solid #999;
}

.content .sidebar ul li small {
	color: #999;
	font-size: 65%;
	line-height: 1;
}

.old-price {
	text-decoration: line-through;
}

.text-lg {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.5;
}

.btn-xl {
	padding: 0.5rem 1rem;
	font-size: 2rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.repeat {
    background-color: #f2f2f2;
}

.repeat .product {
    position: relative;
}

.repeat .product .img-wrap {
    position: relative;
}

.repeat .product .img-wrap img {
    max-width: 100%;
}

@media (min-width: 576px) {
    .repeat .product .img-wrap::before {
        left: -50px;
        width: 175px;
        height: 148px;
    }
}

.repeat .price {

}

.repeat .price .old-price {
    background-color: #d9d9d9;
    border-radius: 5px 0 0 5px;
}

.repeat .price .new-price {
    background-color: #71c076;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(121, 190, 60, 0.25);
}

.repeat button {
    width: 100%;
    border-radius: 2rem;
}
