.modals {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Prompt', sans-serif;
  font-size: 1em;
  font-weight: 400;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(29,58,71,.45)),color-stop(100%,rgba(19,20,28,.9)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(29,58,71,.45)0,rgba(19,20,28,.9)100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(29,58,71,.45)0,rgba(19,20,28,.9)100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(29,58,71,.45)0,rgba(19,20,28,.9)100%);
  background: radial-gradient(ellipse at center,rgba(29,58,71,.45)0,rgba(19,20,28,.9)100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#731d3a47', endColorstr='#e613141c', GradientType=0);
}

.modals-table {
  display: table;
  width: 100%;
  height: 100%
}

.modals-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  /*font-size: 0;*/
}

.modals-inline {
  position: relative;
  display: inline-block;
  /*font-size: 0;*/
  padding: 10px 20px;
  text-align: left;
  /*max-width: 1000px;*/
}

.modals-inline.max {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.modals-loading {
  position: relative;
  height: 200px;
  width: 200px;
  background: url(../../themes/v3/images/loading.gif) center center no-repeat
}

.modals-loading i {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.modals-content {
  background: #FFF;
  border-radius: 3px;
  /*padding: 20px 30px;*/
  position: relative;
  min-width: 280px;

  box-shadow: 0 5px 14px 3px rgba(0,0,0,.4);
}

.modals-content.empty {
  background: none;
  box-shadow: none;
}

.modals-content.empty .modals-close {
  display: none;
}

.modals-content.max {
  width: 100%;
  height: 100%;
  position: relative;
}

.modals-close {
  position: absolute;
  display: block;
  cursor: pointer;
  right: 0;
  top: 0;
  color: var(--font);
  padding: 5px;
  font-size: 1.5rem;
  line-height: 1;
  z-index: 1;
}

.modals-overflow {
  overflow-y: hidden;
  -ms-overflow-style: none;
  -ms-touch-action:none;

  /*position: fixed;*/
}


@media only screen and (max-width : 500px) {
  .modals-content {
    /*padding: 20px 20px;*/
  }
}

@media only screen and (max-width : 350px) {
  .modals-content {
    /*padding: 20px 15px;*/
  }
}

.content-modals {
  position: relative;
}
.modals-content.max .content-modals {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.content-modals h2 {
  margin: 0 0 20px;
}
.content-modals .autocomplete {
  border-radius: 0;
}
.content-modals .easy-autocomplete-container ul,
.content-modals .easy-autocomplete-container ul li {
  border-color: #66afe9;
}
.content-modals .result {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #b701a4;
  font-size: 1.6em;
  transform: translate(-50%, -50%);
}