body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 2000px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

header {
	background-color: #331c90;
}

header .btn {
	/*width: 100%;*/
}

.cover {
	min-height: calc(100vh - 100px);
	background-color: #f6eeff;
	background-image: linear-gradient(90deg, rgba(246, 238, 255,.04) 50%, transparent 50%),
	linear-gradient(90deg, rgba(246, 238, 255,.11) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.16) 50%),
	linear-gradient(90deg, transparent 50%, rgba(246, 238, 255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}

.cover h1 {
    color: #331c90;
    font-size: 48px;
    font-weight: 700;
}

.cover h6 {
    color: #331c90;
    font-size: 20px;
}

.cover ul li {
    position: relative;
    background-color: rgba(51, 28, 144, 0.6);
}

.cover ul li::before {
    content: '';
    position: absolute;
    top: 13.5px;
    left: 16.5px;
    width: 15px;
    height: 15px;
    background-color: #ff3395;
    border: 2px solid #fff;
    border-radius: 50%;
}

.cover .fda-text {
    color: #0e922c;
}

.cover .fda {
    color: #331c90;
}

.cover .fda img {
    max-width: 50%;
}

@media (max-width: 575.98px) {
    .cover .fda img {
        max-width: 40%;
    }
}

.cover .product {
    position: relative;
    line-height: 1;
}

.cover .product * {
    line-height: 1;
}

.cover .product .price-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 92px;
    color: #0e922c;
    background-color: #fffc00;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba(255, 252, 0, 1);
    transform: translate(-30%, -30%);
}

.cover .presenter {
    
}

.cover .product-box {
    position: absolute;
    right: -20%;
    bottom: -5%;
    z-index: 11;
}

@media (max-width: 1199.98px) {
    .cover .product-box {
        bottom: -25%;
    }
}

.cover form {
    background-color: #fff;
    border-radius: 8px;
}

.cover form h3 {
    color: #322a89;
    font-size: 24px;
    line-height: 1.6;
}

.cover form input {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #362cac;
    background-clip: padding-box;
    border: 1px solid #2d258e;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cover form input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::-moz-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input:-ms-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::-ms-input-placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.cover form p {
    color: #333;
}

.cover .symptom {
    color: #331c90;
}

.disease {
    background-color: #0d1b42;
}

.disease .pentagon-bg {
    position: relative;
    color: #fff;
    background-color: #ff0000;
}

.disease .pentagon-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #ff0000;
    -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    transform: translate(0, 100%);
}

.disease .detail h2 {
    font-weight: 700;
}

.properties .detail ul li {
    position: relative;
    color: #331c90;
}

.properties .detail ul li::before {
    content: '\2714';
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    color: #0e922c;
    text-align: center;
    border: 1px solid #0e922c;
    border-radius: 50%;
    transform: translate(0, -50%);
}