@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700&display=swap&subset=thai');


:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Sarabun', sans-serif;
	font-size: 16px;
	line-height: 30px;
	transition: all 300ms linear; 
}

h1, .h1 {
	font-size: 1.6rem;
	font-weight: 700;
}
h4, .h4 {
	font-size: 1.2rem;
	font-weight: 400;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}
header img,
.logo {
	max-height: 70px;
}
.wrapper {
	padding: 30px 0;
	position: relative;
	min-height: 100vh;
	background-image: url(source_03.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.wrapper.no-bg {
	background-image: none;
}
@media (min-width: 768px) {
	.wrapper {
		background-image: url(source_02.png);
		background-position: center center;
	}
}
.wrapper .slogan {
	background-color: rgba(42, 183, 240, 0.6);
}
.wrapper .start {
	/*position: absolute;
	bottom: 20%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);*/
}
.wrapper .start .btn {
	min-width: 100px;
	border-radius: 0;
}
.wrapper .step {
	position: relative;
	width: 500px;
	background-color: #FFF;
	box-shadow: 0 6px 40px rgba(42,183,240,.45098);
}

.wrapper .step .header img {
	max-height: 34px;
}
.wrapper .step .header a,
.wrapper .step .header span {
	color: #2ab7f0;	
	font-size: 0.9rem;
	font-weight: 700;
}

.wrapper .step .progress-bar {
	width: 100%;
	height: 3px;
	background: rgba(42,183,240,.3);
}

.wrapper .step .content .answer {
	position: relative;
	box-shadow: 0 6px 40px rgba(42,183,240,.4509803922);
}

.wrapper .step .content .answer ul {
	width: 100%;
}

.wrapper .step .content .answer ul li {
	position: relative;
	padding: 10px 40px;
	color: #2ab7f0;
	text-align: center;
	font-size: 0.9rem;
	font-weight: 700;
	background-color: #fff;
	border: 1px solid #2ab7f0;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}

.wrapper .step .content .answer ul li + li {
	margin: 10px 0 0;
}

.wrapper .step .content .answer ul li:after {
	content: "\f061";
	position: absolute;
	top: 50%;
	right: 20px;
	font-family: 'Font Awesome 5 Free';
	transform: translate(0, -50%);
}

.wrapper .step .content .answer ul li:hover,
.wrapper .step .content .answer ul li.selected {
	color: #fff;
	background-color: #2ab7f0;
}
.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
	text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
		  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
		  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
		  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
		  transform: scale(1);
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 110px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.multisteps-form__panel .title {
	position: relative;
	padding-right: 0;
	padding-bottom: 130px;
}

.multisteps-form__panel .title:after {
	position: absolute;
	content: '';
	top: auto;
	right: auto;
	bottom: 15px;
	left: 50%;
	z-index: -1;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translate(-50%, 0);
}

@media (min-width: 768px) {
	.multisteps-form__panel .title {
		margin-bottom: 15px;
		padding-right: 120px;
		padding-bottom: 0;
		height: 120px;
	}

	.multisteps-form__panel .title:after {
		top: 50%;
		bottom: auto;
		right: 0;
		left: auto;
		transform: translate(0, -50%);
	}
}

.multisteps-form__panel .title.step-1:after {
	background-image: url('./assets/source_page_01.png');
	
}

.multisteps-form__panel .title.step-2:after {
	background-image: url('./assets/source_page_02.png');
	
}

.multisteps-form__panel .title.step-3:after {
	background-image: url('./assets/source_page_03.png');
}

.multisteps-form__panel .title.step-4:after {
	background-image: url('./assets/source_page_04.png');
}

.multisteps-form__panel .title.step-5:after {
	background-image: url('./assets/source_page_05.png');
}

.multisteps-form__panel .title.step-6:after {
	background-image: url('./assets/source_page_06.png');
}

.multisteps-form__panel .title.step-7:after {
	background-image: url('./assets/source_page_07.png');
}

.multisteps-form__panel .title.step-8:after {
	background-image: url('./assets/source_page_08.png');
}

.multisteps-form__panel .title.step-9:after {
	background-image: url('./assets/source_page_09.png');
}

.full-width .checkbox-tools:checked + label,
.full-width .checkbox-tools:not(:checked) + label,
.full-width .form-control {
	display: block;
	margin: 0 0 10px !important;
	padding: 10px;
	width: 100%;
	font-size: 0.9rem;
	font-weight: 400;
	border: 1px solid #2ab7f0;
	border-radius: 0;
}

.full-width .checkbox-tools.check-all + label {
	color: #fb785c;
	border: 1px solid #fb785c !important;
}

.full-width .checkbox-tools.check-all:checked + label {
	color: #fff;
	background-color: #fb785c;
}

.full-width .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(42, 183, 240, 0.5);
}
.full-width .form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(42, 183, 240, 0.5);
}
.full-width .form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(42, 183, 240, 0.5);
}
.full-width .form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(42, 183, 240, 0.5);
}

.checkbox-tools:not(:checked) + label{
	color: #2ab7f0;
	background-color: #fff;
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #2ab7f0;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 260px;
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	-webkit-text-stroke: 1px var(--white);
	text-stroke: 1px var(--white);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
}
.checkbox-budget:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-text-stroke: transparent;
	text-stroke: transparent;
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
	color: var(--white);
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
	background-color: var(--light);
	-webkit-text-stroke: 1px var(--dark-blue);
	text-stroke: 1px var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-booking:checked + label,
.checkbox-booking:not(:checked) + label{
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	text-align: center;
	padding: 0;
	padding: 6px 25px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 16px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	color: var(--white);
	text-transform: uppercase;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-booking:checked + label::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:not(:checked) + label:hover::before{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-booking:checked + label::before,
.checkbox-booking:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label::before{
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
}
.checkbox-booking:checked + label::after,
.checkbox-booking:not(:checked) + label::after{
	position: absolute;
	content: '';
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 4px;
	z-index: -2;
	background-color: var(--dark-light);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:checked + label::after{
	opacity: 0;
}
.checkbox-booking:checked + label .uil,
.checkbox-booking:not(:checked) + label .uil{
	font-size: 20px;
}
.checkbox-booking:checked + label .text,
.checkbox-booking:not(:checked) + label .text{
	position: relative;
	display: inline-block;
	-webkit-transition: opacity 300ms linear;
	transition: opacity 300ms linear;
}
.checkbox-booking:checked + label .text{
	opacity: 0.6;
}
.checkbox-booking:checked + label .text::after,
.checkbox-booking:not(:checked) + label .text::after{
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	top: 50%;
	margin-top: -1px;
	height: 2px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-booking:not(:checked) + label .text::after{
	width: 0;
}
.checkbox-booking:checked + label .text::after{
	width: 100%;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label{
	background-color: var(--light);
	color: var(--dark-blue);
}
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:checked + label::after,
.checkbox:checked ~ .section .container .row .col-12 .checkbox-booking:not(:checked) + label::after{
	background-color: var(--light);
}

.full-width .required {
	color: var(--danger) !important;
	border: 1px solid var(--danger) !important;
}

.new-summary h1 {
	color: #2ab7f0;
}

@media only screen and (min-width:600px) {
	.new-summary h1 {
		font-size: 2.4rem;
	}
	.new-summary .promise-intro {
		font-size: 28px!important;
		font-weight: 500
	}
}

.new-summary .promise-intro {
	margin-bottom: 20px;
	margin-top: 15px;
	font-size: 18px;
	font-weight: 500
}

.new-summary .b-blocks-featured {
	max-width: 800px;
	padding-top: 30px
}

@media only screen and (max-width:640px) {
	.new-summary .b-blocks-featured {
		padding-top: 10px
	}
}

.new-summary .b-blocks-featured .b-result--weight {
	margin-bottom: 30px
}

.new-summary .b-blocks-featured .b-result--firstweek,
.new-summary .b-blocks-featured .b-result--text {
	max-width: calc(50% - 15px);
	min-height: 260px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center
}

@media only screen and (max-width:640px) {
	.new-summary .b-blocks-featured .b-result--firstweek,
	.new-summary .b-blocks-featured .b-result--text {
		width: 100%;
		max-width: 100%
	}
}

.new-summary .b-result.b-result--weight {
	max-width: 100%;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 40px;
	background: #fff
}

@media only screen and (max-width:640px) {
	.new-summary .b-result.b-result--weight {
		margin-bottom: 30px
	}
}

.new-summary .b-result.b-result--weight .b-stats .b-stats--header {
	max-width: 100%;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	overflow: hidden;
	padding-bottom: 10px
}

.new-summary .b-result.b-result--weight .b-stats .b-stats--header p:first-child {
	position: relative
}

.new-summary .b-result.b-result--weight .b-stats .b-stats--header p:first-child:before {
	content: "";
	background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
	top: -20px;
	bottom: -20px;
	width: 80px;
	position: absolute;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	left: -10px
}

.new-summary .b-result.b-result--weight .b-stats .b-stats--header p:last-child {
	position: relative
}

.new-summary .b-result.b-result--weight .b-stats .b-stats--header p:last-child:before {
	content: "";
	background-image: -webkit-gradient(linear, left top, right top, from(hsla(0, 0%, 100%, 0)), to(#fff));
	background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff);
	top: -20px;
	bottom: -20px;
	width: 80px;
	position: absolute;
	right: -10px
}

.new-summary .b-result.b-result--weight .b-stats {
	background: #fff;
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	min-height: 200px;
	-webkit-box-pack: center;
	justify-content: center
}

.new-summary .b-result.b-result--weight .b-stats--header {
	padding-top: 15px;
	margin-top: auto;
	margin-bottom: 0;
	max-width: none
}

.new-summary .b-result.b-result--weight .b-stats--header p {
	margin-left: 5%!important;
	margin-right: 5%!important;
	font-size: 0.9rem;
}

.new-summary .b-result.b-result--weight .b-stats--header .e-special {
	margin-left: 5%;
	margin-right: 5%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column
}

.new-summary .b-result.b-result--weight .b-stats--header .e-special span {
	font-size: 18px;
	line-height: 12px;
	color: #444;
	font-weight: 300
}

.new-summary .b-result.b-result--weight .b-stats--footer {
	margin-bottom: auto;
	padding-top: 10px;
	font-size: 24px
}

.new-summary .b-result.b-result--weight .b-months {
	position: relative;
	background: rgba(42, 183, 240, .12);
	max-width: 100%;
	margin: 0;
	max-height: none
}

@media(-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
	.new-summary .b-result.b-result--weight .b-months {
		background: rgba(41, 181, 239, .1215686275);
		max-height: 288px
	}
}

.new-summary .b-result.b-result--weight .b-months:before {
	content: "";
	background: url('./assets/b-results-graph.webp');
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 200px;
	background-size: cover;
	bottom: -5px
}

@media only screen and (max-width:640px) {
	.new-summary .b-result.b-result--weight .b-months:before {
		background-position: 50%
	}
}

.new-summary .b-result.b-result--weight .b-months .b-stats--header,
.new-summary .b-result.b-result--weight .b-months .b-stats--results {
	max-width: 320px;
	margin: auto
}

.new-summary .b-result.b-result--weight .b-months .b-stats--header {
	padding-top: 20px;
	max-width: 335px
}

.new-summary .b-result.b-result--weight .b-months .b-stats--results {
	min-height: 230px;
	padding-bottom: 50px
}

.new-summary .b-result.b-result--weight .b-months .b-stats--results--from {
	position: relative;
	left: 10px
}

@media only screen and (max-width:360px) {
	.new-summary .b-result.b-result--weight .b-months .b-stats--results--from {
		margin-top: 2px
	}
}

.new-summary .b-result.b-result--weight .b-months .b-stats--results--from:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 17px;
	background: #fb785c;
	height: 17px;
	border-radius: 20px;
	top: 50px
}

.new-summary .b-result.b-result--weight .b-months .b-stats--results--to {
	position: relative;
	margin-bottom: 18px
}

@media only screen and (max-width:640px) {
	.new-summary .b-result.b-result--weight .b-months .b-stats--results--to {
		margin-bottom: 15px
	}
}

@media only screen and (max-width:360px) {
	.new-summary .b-result.b-result--weight .b-months .b-stats--results--to {
		margin-bottom: 20px
	}
}

.new-summary .b-result.b-result--weight .b-months .b-stats--results--to:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 17px;
	background: #fb785c;
	height: 17px;
	border-radius: 20px;
	top: 50px
}

.new-summary .b-blocks-featured {
	padding-top: 10px;
	padding-bottom: 5px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	align-items: flex-start;
	flex-wrap: wrap
}

.new-summary .b-blocks-featured .b-result {
	width: 100%;
	margin-top: 0;
	min-height: 215px
}

.new-summary .b-result--weight {
	margin-top: 20px;
	position: relative;
	max-width: 370px
}

.new-summary .b-result--weight img {
	max-width: 100%;
	box-shadow: 0 0 11px rgba(86, 70, 143, .2);
	border-radius: 7px
}

.new-summary .b-result--weight .b-stats {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 212px;
	text-align: center
}

.new-summary .b-result--weight .b-stats .b-stats--header {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 190px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 0;
	-webkit-box-align: center;
	align-items: center;
	font-size: 27px;
	font-weight: 700;
	color: #31d4ca
}

.new-summary .b-result--weight .b-stats .b-stats--header p {
	margin: 0;
	opacity: .4
}

.new-summary .b-result--weight .b-stats .b-stats--header .e-special {
	font-size: 73px;
	line-height: 73px;
	opacity: 1
}

.new-summary .b-result--weight .b-stats .b-stats--middle {
	font-size: 18px;
	margin-top: -5px
}

.new-summary .b-result--weight .b-stats .b-stats--footer {
	font-size: 16px;
	font-weight: 700;
	padding-top: 5px
}

.new-summary .b-result--weight .b-months {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 190px;
	text-align: center;
	top: 41%;
	max-width: 290px;
	margin: 10px auto auto;
	font-size: 20px
}

.new-summary .b-result--weight .b-stats--header {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between
}

.new-summary .b-result--weight .b-stats--header p:last-child {
	margin-right: 10px
}

.new-summary .b-result--weight .b-stats--results {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	min-height: 180px
}

.new-summary .b-result--weight .b-stats--results .b-stats--results--from,
.new-summary .b-result--weight .b-stats--results .b-stats--results--to {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	font-size: 33px;
	line-height: 26px
}

.new-summary .b-result--weight .b-stats--results .b-stats--results--from span,
.new-summary .b-result--weight .b-stats--results .b-stats--results--to span {
	font-size: 13px
}

.new-summary .b-result--weight .b-stats--results .b-stats--results--from {
	font-size: 23px;
	margin-left: 0;
	margin-top: 2px
}

@media(-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
	.new-summary .b-result--weight .b-stats--results .b-stats--results--from {
		margin-top: -8px
	}
}

.new-summary .b-result--weight .b-stats--results .b-stats--results--to {
	color: #fb785c;
	margin-top: auto;
	margin-bottom: 10px;
	margin-right: 2px
}

@media(-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
	.new-summary .b-result--weight .b-stats--results .b-stats--results--to {
		margin-top: 110px
	}
}

.new-summary .b-result--text {
	margin-top: 40px;
	max-width: 370px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px
}

.new-summary .b-result--text .b-stats--header {
	font-size: 73px;
	font-weight: 700;
	color: #31d4ca;
	line-height: 73px
}
	
.new-summary .b-result--text .b-stats--footer {
	font-size: 23px;
	max-width: 240px;
	margin: auto;
	line-height: 28px;
	padding-top: 10px
}

.new-summary .b-result {
	box-shadow: 0 0 11px rgba(86, 70, 143, .29);
	border-radius: 9px
}

.new-summary .b-result .e-special {
	color: #31d4ca;
	font-size: 27px;
	font-weight: 700
}

.b-dietresults {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	width: calc(100% + 10px)
}

.b-dietresults .b-info {
	width: calc(33.33333% - 10px);
	border-radius: 10px;
	margin-bottom: 15px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-height: 332px;
	overflow: hidden;
	border: 1px solid #e2f2ff;
	margin-left: 5px;
	margin-right: 5px;
	padding: 20px
}

@media only screen and (max-width:768px) {
	.b-dietresults .b-info {
		width: calc(50% - 10px)
	}
}

@media only screen and (max-width:640px) {
	.b-dietresults .b-info {
		width: 100%
	}
}

.b-dietresults .b-info .e-title {
	font-size: 17px;
	color: #2ab7f0;
	line-height: 30px;
	position: relative;
	z-index: 1;
	font-weight: 700
}

.b-dietresults .b-info .e-infobar {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-top: auto;
	position: relative;
	margin-bottom: auto;
	padding-top: 40px
}

.b-dietresults .b-info .e-infobar .e-value {
	position: absolute;
	color: rgba(251, 120, 92, .5);
	top: -10px;
	left: auto;
	right: 0
}

.b-dietresults .b-info .e-infobar .e-value.normal {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: rgba(42, 183, 240, .5)
}

.b-dietresults .b-info .e-infobar .e-value.underweight {
	left: 0;
	right: auto;
	color: rgba(49, 212, 202, .5)
}

.b-dietresults .b-info .e-infobar .e-value .value {
	font-size: 28px;
	font-weight: 700;
	line-height: 30px;
	margin: 0;
	text-align: center
}

.b-dietresults .b-info .e-infobar .e-value .text {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	text-transform: lowercase;
	line-height: 18px
}

.b-dietresults .b-info .e-infobar .e-number {
	text-align: center;
	z-index: 1;
	margin: auto;
	font-size: 33px;
	color: #2ab7f0
}

.b-dietresults .b-info .e-infobar .e-number .metric {
	font-size: 23px
}

.b-dietresults .b-info .e-infobar .text {
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
	padding-top: 25px
}

.b-dietresults .b-info .e-infobar .e-infobar--gap {
	width: 100%;
	text-align: center;
	position: relative;
	height: 25px
}

.b-dietresults .b-info .e-infobar .e-infobar--gap.m-special {
	color: #08d9d6;
	position: relative
}

.b-dietresults .b-info .e-infobar .e-infobar--gap.m-special:before {
	content: "";
	height: 5px;
	background: #08d9d6;
	width: 100%;
	position: absolute;
	top: -1px;
	left: 0;
	right: 0
}

.b-dietresults .b-info .e-infobar .e-infobar--gap.m-special:after {
	content: "";
	height: 25px;
	width: 25px;
	background: #ff2e63;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 20px
}

.b-dietresults .b-info .e-infobar .e-infobar--gap.m-special .value {
	display: block;
	position: absolute;
	top: -62px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 30px;
	color: #ff2e63
}

.b-dietresults .b-info .e-infobar .e-infobar--gap.m-special .e-overlay {
	display: block;
	position: absolute;
	height: 400%;
	top: -280%;
	background: rgba(8, 217, 214, .0509803922)
}

.b-dietresults .b-info .e-infobar .e-infobar--gap .e-overlay {
	display: none
}

.b-dietresults .b-info .e-special {
	color: #2ab7f0;
	font-weight: 300;
	padding-top: 2px
}

.b-dietresults .b-info .e-subtitle {
	max-width: 305px;
	font-size: 15px;
	padding-top: 0;
	margin: 0;
	color: #252a34
}

.b-info[data-type] .e-subtitle {
	color: #252a34;
	font-size: 15px;
	z-index: 1
}

.b-info[data-type=achievable_weight] {
	position: relative
}

.b-info[data-type=achievable_weight] .e-infobar {
	text-align: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	background: rgba(32, 39, 57, .1);
	border-radius: 50px;
	margin: auto 0 35px;
	min-height: 80px;
	padding: 10px
}

.b-info[data-type=achievable_weight] .e-infobar:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #fff
}

.b-info[data-type=achievable_weight] .e-infobar .e-text {
	font-size: 25px;
	font-weight: 700
}

.b-info[data-type=achievable_weight] .e-infobar .is-special {
	font-size: 32px
}

.b-info[data-type=achievable_weight] .metric {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -30px;
	color: #2ab7f0;
	font-size: 15px
}

.b-info[data-type=weight_loss_forecast] .e-subtitle {
	margin-bottom: 20px
}

.b-info[data-type=loss_forecast] .e-img {
	max-width: 140px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 310px;
	margin: 0
}

.b-info[data-type=loss_forecast] .b-forecast {
	color: #31d48c;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 70px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	top: -40px
}

.b-info[data-type=loss_forecast] .b-forecast .e-element {
	position: relative;
	min-width: 100%;
	width: 100%
}

.b-info[data-type=loss_forecast] .b-forecast .e-element:before {
	content: "";
	height: 2px;
	width: 47%;
	background: #fb5f5c;
	position: absolute;
	right: 90px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1
}

@media only screen and (max-width:1300px) {
	.b-info[data-type=loss_forecast] .b-forecast .e-element:before {
		width: 37%
	}
}

.b-info[data-type=loss_forecast] .b-forecast .e-element:after {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 40px;
	background: #fb5f5c;
	position: absolute;
	right: 80px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 1
}

.b-info[data-type=metabolism] .e-infobar:before {
	content: "";
	background: transparent url(/assets/metabolism.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	width: 80%
}

.b-info[data-type=water] .e-infobar:before {
	content: "";
	background: transparent url(/assets/water.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	width: calc(100% + 41px);
	left: -20px
}

.b-info[data-type=increased_life] .e-infobar:before {
	content: "";
	background: transparent url(/assets/life_expectancy.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	left: -20px;
	width: 44%
}

.b-info[data-type=increased_life] .e-subtitle {
	max-width: 100%
}

.b-info[data-type=body_parts] .e-infobar:before {
	content: "";
	background: transparent url(/assets/body-parts.png) no-repeat 50%;
	background-size: contain;
	width: 34%;
	left: auto;
	top: -77px
}

.b-info[data-type=risk_for_disease] .e-infobar:before {
	content: "";
	background: transparent url(/assets/risk_for_disease.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	left: -30px;
	width: calc(100% + 60px)
}

.b-info[data-type=cravings] .e-infobar:before {
	content: "";
	background: transparent url(/assets/cravings.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	width: 45%;
	left: 0
}

.b-info[data-type=cravings] .e-text {
	color: #ff2e63!important;
	font-size: 33px!important
}

.b-info[data-type=cravings] .e-text .metric {
	color: #ff2e63;
	font-size: 33px!important
}

.b-info[data-type=is_safe] .e-infobar:before {
	content: "";
	background: transparent url(/assets/is_safe.png) no-repeat 50%;
	background-size: contain;
	top: 60px;
	width: 45%;
	left: 0
}

.b-info[data-type=metabolism] .e-img {
	max-width: 240px;
	margin: auto
}

.b-info[data-type=metabolic_age] .e-img {
	margin-top: auto;
	margin-bottom: 40px
}

.b-info[data-type=calorie_intake] .e-calorieintake {
	min-height: 200px;
	background: transparent url('./assets/water_intake.webp') no-repeat 50%;
	color: #000;
	text-align: center;
	width: 190px;
	height: 190px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background: transparent url('./assets/circle-amount.webp') no-repeat 50%;
	background-size: contain;
	margin: 0 auto
}

.b-info[data-type=calorie_intake] .e-calorieintake p {
	margin: 0;
	font-size: 23px;
	font-weight: 700;
	color: #252a34
}

.b-info[data-type=water_intake] .e-calorieintake {
	margin-top: 0;
	padding-top: 50px;
	min-height: 200px;
	background: transparent url('./assets/water_intake.webp') no-repeat 50%;
	background-size: contain
}

.b-info[data-type=water_intake] .e-calorieintake p {
	color: #fff
}

.b-info[data-type=water_intake] .e-calorieintake .e-number {
	font-size: 23px
}

.b-info[data-type=water_intake] .e-calorieintake .e-calorieintake--inner {
	margin-top: 40px;
	z-index: 10;
	width: 100%;
	text-align: center
}

.b-info[data-type=water_intake] .e-calorieintake .e-calorieintake--inner p {
	margin: 0
}

.b-info[data-type=energy_level] .e-img {
	margin-top: -60px
}

.b-info[data-type=energy_level] .e-results {
	max-width: 210px
}

.b-info[data-type=bigmacs] .e-bigmacs--inner {
	background: transparent url(/assets/bigmacs.png) no-repeat 50%;
	background-size: contain;
	width: 100%;
	min-height: 120px;
	margin-top: 40px
}

.b-info[data-type=chancesucess] .e-maincontent--inner {
	background: transparent url(/assets/chance_of_success.png) no-repeat 50%;
	background-size: contain;
	width: 100%;
	min-height: 120px;
	margin-top: 20px
}

.b-info[data-type=is_plan_safe] .e-img,
.b-info[data-type=supplement_recomendations] .e-img {
	margin-top: 40px
}

.b-info[data-type=bmi] .e-infobar {
	margin-bottom: 25px;
	margin-top: auto;
	position: relative
}

.b-info[data-type=bmi] .e-infobar .e-infobar--gap {
	background: transparent url('./assets/bmi_level.webp') no-repeat 50%;
	background-size: contain
}

.b-info[data-type=bmi] .e-infobar.position-1:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #2ab7f0;
	position: absolute;
	bottom: -25px;
	left: 22px
}

.b-info[data-type=bmi] .e-infobar.position-1 .e-value {
	text-align: center;
	color: #01e3d3;
	padding-left: 0;
	right: auto;
	max-width: 110px;
	left: 0;
	width: 100%
}

.b-info[data-type=bmi] .e-infobar.position-1 .value {
	text-align: center
}

.b-info[data-type=bmi] .e-infobar.position-1:before {
	border-bottom: 12px solid #01e3d3;
	left: 45px
}

.b-info[data-type=bmi] .e-infobar.position-2:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #2ab7f0;
	position: absolute;
	bottom: -25px;
	left: 0;
	right: 0;
	margin: auto
}

.b-info[data-type=bmi] .e-infobar.position-2 .e-value {
	color: #2ab7f0;
	left: 0;
	right: 0;
	width: 100%
}

.b-info[data-type=bmi] .e-infobar.position-2 .e-value .text {
	text-align: center
}

.b-info[data-type=bmi] .e-infobar.position-3:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #fb5f5c;
	position: absolute;
	bottom: -25px;
	margin: auto;
	left: 83.333333%;
	transform: translate(-50%, 0);
}

.b-info[data-type=bmi] .e-infobar.position-3 .e-value {
	padding-right: 0;
	color: #fb5f5c;
	width: 33.333333%;
	text-align: center;
	right: 0;
	left: auto;
	line-height: 25px
}

.b-info[data-type=bmi] .e-infobar.position-3 .value {
	text-align: center
}

.b-info[data-type=bmi] .b-results.m-detailed {
	color: #2ab7f0;
	text-align: center;
	border-top: 1px solid #add4ff;
	padding-top: 13px
}

.b-info[data-type=bmi] .b-results.m-detailed p {
	margin: 0
}

.b-info[data-type=loose_weight] .e-img {
	max-width: 160px;
	margin: -20px auto -30px;
	position: relative;
	bottom: 0
}

.b-info[data-type=is_plan_safe] .e-img {
	max-width: 160px;
	margin: 30px auto auto;
	position: relative;
	bottom: 0
}

.b-info[data-type=nutrition_value] .e-img {
	bottom: -20px;
	position: relative
}

.b-info[data-type=nutrition_value] .e-value {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 60px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	text-align: center;
	width: 100px;
	right: -30px
}

.b-info[data-type=nutrition_value] .e-value .m-number {
	font-size: 23px;
	font-weight: 700
}

.b-info[data-type=meat_selection] .e-img {
	bottom: 0;
	position: relative;
	top: 20px;
	left: -20px;
	width: calc(100% + 40px)
}

.b-info[data-type=dishes] .e-img {
	max-width: 200px;
	margin: 10px auto 5px
}

.b-info .e-img img {
	width: 100%
}

.b-info .e-results {
	padding-top: 5px;
	margin-bottom: 10px
}

.b-info .e-results .m-special {
	color: #444;
}

.b-info .e-results .m-success {
	color: #027bff
}

.b-info .e-results .m-error {
	color: #fb5f5c
}

.b-info .e-img {
	position: relative
}

.b-info .e-img .e-numers {
	position: absolute;
	color: #31d48c;
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between
}

.b-info .e-img .e-numers .e-number {
	margin: auto
}

.e-calorieintake {
	color: #000;
	text-align: center;
	width: 190px;
	height: 190px;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-size: contain;
	margin: 10px auto 0
}

.e-calorieintake p {
	margin: 0;
	font-size: 23px;
	font-weight: 700;
	color: #2ab7f0
}

.e-calorieintake p.messure {
	font-size: 15px
}

.b-info[data-type=calorie_intake] .e-calorieintake p {
	color: #2ab7f0;
	font-weight: 500
}

.b-info[data-type=calorie_intake] .e-calorieintake p.messure {
	font-weight: 300;
	font-size: 18px
}

footer {
	width: 100%;
	text-align: center;
	min-height: 122px;
	margin-top: 30px;
	background: #e2f2ff;
	padding: 50px 25px 60px;
}

footer a {
	margin: auto;
	border-radius: 5px;
    background: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    box-shadow: 3px 3px 12px 0 rgba(42,183,240,.28);
    min-height: 47px;
    white-space: normal;
    min-width: 156px;
    font-weight: 500;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background .5s,color .5s,border-color .5s;
    transition: background .5s,color .5s,border-color .5s;
    color: #2ab7f0;
    line-height: 16px;
    padding: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid;
	background: #31d4ca!important;
    font-size: 16px!important;
    min-height: 55px!important;
    min-width: 200px!important;
    color: #fff!important;
    border: 1px solid #31d4ca!important;
    box-shadow: 3px 3px 12px 0 rgba(42,183,240,.48);
}

footer a:hover {
	text-decoration: none;
}